<style type="text/css">
.fahome{
  color:#000000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000000;

  line-height: 1.1;
}

  .col-md-6.col-sm-6.col-xs-12.has-feedback.member-input {
    padding-left: 0px;
}
</style>

<section role="main" class="content" >
  <div class="content__inner">
    <header class="content__title">
      <h1>Startup Fair Registration</h1>
    </header>


    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12"> 

            <!--  <h4 class="card-title">Body Copy</h4>-->
            <div class="x_panel">

              <div class="x_content">
                <br>

                <h4 style="color: white; margin-left: 00px; margin-bottom: 20px; margin-top: -10px;"><b># You have to choose between Ventura(the B-Plan event) and Startup Battle. Only those startups will be allowed to participate in Startup Battle which have a well-defined revenue system, established business model and their products launched in market. Screening will be done on the basis of abstract submitted by the team. &nbsp &nbsp<br /><br></b></h4>

                <div  class="col-sm-6 col-sm-offset-3 form-box">
                 <form role="form" action="" method="post" class="event-registration-form">

                  <fieldset>
                    <div class="form-bottom" style="padding-bottom: 35px;">


<!-- <h4 class="card-title">You have to choose between Ventura(the B-Plan event) and Startup Battle. Only those startups will be allowed to participate in Startup Battle which have a well-defined revenue system, established business model and their products launched in market. Screening will be done on the basis of abstract submitted by the team. </h4> -->



                   <!--    <div class="form-group">
                         <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-focus="rmcls(this)" ng-model="editObject.name" placeholder="Name" id="forname" type="text" style="margin-bottom: 10px;" />
                        <input type='text' ng-model="teamName" class="form-control" id="teamName" placeholder="TeamName" style="margin-bottom: 10px;"/>
                         <input type='Email' ng-model="teamName" class="form-control" id="teamName" placeholder="Email" style="margin-bottom: 10px;"/>
                         <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-focus="rmcls(this)" ng-model="editObject.college" placeholder="College" id="forcollege" type="text" style="margin-bottom: 10px;" />
                         <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-focus="rmcls(this)" ng-model="editObject.city" placeholder="City" id="forcity" type="text" style="margin-bottom: 10px;" />
                       

                      </div>
 -->
                      <h4 class="card-title">You have to choose between Ventura(the B-Plan event) and Startup Battle. </h4>


                    <!--   <button type="button" id="1" style="border-radius: 0px;color: white; font-size: 1.6rem; border: 0px; background-color: #7fbf7f; padding: 5px;" class="" onclick="venturaDisplay()">Ventura</button>

<button type="button" id="2" style="border-radius: 0px;color: white; font-size: 1.6rem; border: 0px; background-color: #7fbf7f; padding: 5px;" class="" onclick="startDisplay()">Startup Battle</button> -->
<!-- <div ng-controller="buttons">
<button  class="btn btn-light" type="button" value="Ventura" id="1" style="margin-left: 12px; margin-top: 25px; background-color: #BA2133; border-radius: 0px;" onclick="venturaDisplay()">Ventura</button>
<button  class="btn btn-light" type="button" id="2" value="Startup Battle" style="margin-left: 12px; margin-top: 25px; background-color: #BA2133; border-radius: 0px;"  onclick="startDisplay()">Startup Battle</button>
</div> -->



<button  class="btn btn-light" type="button" value="Ventura" id="1" style="margin-left: 12px; margin-top: 25px; background-color: #BA2133; border-radius: 0px;" ng-click="showhide1()">Ventura</button>
<button  class="btn btn-light" type="button" id="2" value="Startup Battle" style="margin-left: 12px; margin-top: 25px; background-color: #BA2133; border-radius: 0px;" ng-click="showhide2()">Startup Battle</button>



<br /><br />


<!-- <div class="form-group">
<textarea type="textbox" name="ideas" class="form-control" ng-model="ideas" id="ideas" placeholder="Idea Domain"/>
</div> -->
<!--  Ventura  -->
<div ng-show="visible1" id = "Ventura">
  <div>

  <!--  -->
<div class="form-group">
<input type="text" ng-model="teamName" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="teamName" placeholder="Startup Name" style="margin-bottom: 10px;">

</div>
<div class="form-group">
  <textarea type="textbox" name="description" class="form-control" ng-model="description" id="description" placeholder="Brief description about your Startup(max 150 characters)."/>
</div>
 <div class="form-group">
  <h3>Select Startup Type</h3>
  <div class="checkbox businesslist1">
    <label>
      <input type="checkbox" value="B2B"> B2B <br>
    </label>
    <label>
      <input type="checkbox" value="B2C"> B2C <br>
    </label>
    <label>
      <input type="checkbox" value="B2G"> B2G <br>
    </label>
    <label>
      <input type="checkbox" value="C2C"> C2C <br>
    </label>
  </div>
</div> 


<div class="form-group has-feedback">
  <input type="text" class="form-control" id="team-leader" placeholder="Team leader" ng-model="leader">
  <ul class="parsley-errors-list filled" id="team-leader-invalid" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
  <span class="glyphicon glyphicon-king form-control-feedback right" style="right: 0px" aria-hidden="true"></span>
</div>

<div>
  <div data-ng-repeat="field in members track by $index" class="form-group ">
    <div class="col-md-6 col-sm-6 col-xs-12 has-feedback member-input">
      <input type="text" ng-model="a[$index]" class="form-control col-sm-12 col-xs-12 abcd" ng-focus="removeerror($index)" required placeholder="Member Email or TechnexID" />
      <ul class="parsley-errors-list filled" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
      <span class="glyphicon glyphicon-pawn form-control-feedback right" style="right: 10px" aria-hidden="true"></span>
    </div>


    <button type="button" ng-click='removeMember($index)' class="btn btn-danger">Remove</button>
  </div>
</div>
<br/>
<div>
  <button type="button" ng-click="addMember()" class="btn btn-primary">Add Member</button>
  <button type="button" class="btn btn-success team-reg-submit" ng-click="submitForm()">SUBMIT</button>
</div>
</div>

</div>



<div ng-show="visible2" id = "Startupbattle">
  <div>


    <div class="form-group">
<input type="text" ng-model="teamName" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="teamName" placeholder="Startup Name" style="margin-bottom: 10px;">

</div>

<div class="form-group">
  <textarea type="textbox" name="description" class="form-control" ng-model="description" id="description" placeholder="Brief description about your Startup(max 150 characters)."/>
</div>
<div class="form-group">
  <select id="year" class="form-control" ng-model="year">
    <option value="Founding Year" disabled="true">Founding Year</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
  </select>
</div>

<div class="form-group">
  <h3>Select Startup Type</h3>
  <div class="checkbox businesslist2">
    <label>
      <input type="checkbox" value="B2B"> B2B <br>
    </label>
    <label>
      <input type="checkbox" value="B2C"> B2C <br>
    </label>
    <label>
      <input type="checkbox" value="B2G"> B2G <br>
    </label>
    <label>
      <input type="checkbox" value="C2C"> C2C <br>
    </label>
  </div>
</div>


 <div class="form-group">
  <input type="text" class="form-control" id="link" placeholder="Link to your website/ app" ng-model="link">
</div>
<!-- <div class="form-group">
  <input type="text" class="form-control" id="crunch" placeholder="Crunch base URL (not mandatory)" ng-model="crunch">
</div> -->
<div class="form-group">
  <h3>Have you already received funding?</h3>
  <div class="checkbox businesslist">
    <label>
      <input type="radio" name="funding" ng-model="funding" value="No"> No <br>
    </label>
    <label>
      <input type="radio" name="funding" ng-model="funding" value="Yes, by founding team only">Yes, by founding team only <br>
    </label>
    <label>
      <input type="radio" name="funding" ng-model="funding" value="Yes, by external investors">Yes, by external investors <br>
    </label>
  </div>
</div>

<div class="form-group has-feedback">
  <input type="text" class="form-control" id="team-leader" placeholder="Team leader" ng-model="leader">
  <ul class="parsley-errors-list filled" id="team-leader-invalid" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
  <span class="glyphicon glyphicon-king form-control-feedback right" style="right: 0px" aria-hidden="true"></span>
</div>

<div>
  <div data-ng-repeat="field in members track by $index" class="form-group ">
    <div class="col-md-6 col-sm-6 col-xs-12 has-feedback member-input">
      <input type="text" ng-model="a[$index]" class="form-control col-md-7 col-xs-12 abcd" ng-focus="removeerror($index)" required placeholder="Member Email or TechnexID" />
      <ul class="parsley-errors-list filled" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
      <span class="glyphicon glyphicon-pawn form-control-feedback right" style="right: 10px" aria-hidden="true"></span>
    </div>


    <button type="button" ng-click='removeMember($index)' class="btn btn-danger">Remove</button>
  </div>
</div>
<br/>
<div>
  <ul id="error-message" style="background: #fff;" >
    <li class="alert-message login-invalid" id="error-message-display" style=" text-align: left;color: #922733; background: #fff;">
      ERROR MESSAGE
    </li>
  </ul>
  </div>
<div>
  <button type="button" ng-click="addMember()" class="btn btn-primary">Add Member</button>
  <button type="button" class="btn btn-success team-reg-submit" ng-click="submitForm()">SUBMIT</button>
</div>
</div>

</div>


</fieldset>

</form>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>




</section>

<script type="text/javascript">
  $(document).ready(function(){
                 $("#error-message").hide();
  });
</script>

<!-- 
<script>
  function venturaDisplay() {
    document.getElementById("Ventura").removeAttribute("style");
    document.getElementById("Startupbattle").style.display = "none";
   // document.getElementById("2").disabled = true;
}


  function startDisplay() {
    document.getElementById("Startupbattle").removeAttribute("style");
    document.getElementById("Ventura").style.display = "none";
   // document.getElementById("1").disabled = true;
}


</script> -->