	<!doctype html>
<html>
	<head>

		<title>Think Talks | Technex'18</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="description" content="Witness the stellar guest lecture series comprising gaints from different domains.">
    <meta name="keywords" content="lectures, talks, guest lectures, think talks, nasa lecture, ceo lectures, vinod dham, guest, technex, technex18, technex 18, technex iit, technex bhu, techfest bhu, iitbhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest">
		   <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2018 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
<!-- <style>
.chandu-loader-overlay {
    width: 100%;
    height: 100%;
    background: url(/static/technex-loader-new.gif) center no-repeat gray;
    z-index: 99999;
    position: fixed;
    animation: small 1.25s alternate infinite ease-in-out;
}</style> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script>
    jQuery(window).load(function(){
        jQuery(".chandu-loader-overlay").fadeOut(500);
    });
</script> -->

		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68539305-2', 'auto');
  ga('send', 'pageview');

</script>


		<style>
			.para p{
				margin-top:15px;
			}


		</style>


			</head>
	<body class="device-mobile   loading" >
		<!-- <div class="chandu-loader-overlay"></div> -->

<header id="nav-header" class="">
			<img src="" class="logo"/>
		{% include 'navbarmobile.html' %}

<div class="wrapper-toggle">
<span class="menu-toggle js-toggle" style="text-align: left;">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>

<section id="container" role="main">
<div id="master" class="master">
<div class="scrollable">




<header class="ct--header ct--header--left  ">

	<div class="wrapper fs">
		<div class="ct--header__content c8">

							<!-- <span class="h4 t t--dy t--header"><span class="t--mask"></span>PRESENTS</span> -->

			<!--h1 class="h3 t t--dy t--header">
				<span class="t--mask" style="text-align: center;">
					THINK TALKS
									</span>
			</h1-->





		</div>



					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Scroll</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>


		<div class="ct--header__background r r--16-9" style="background-image:url(http://res.cloudinary.com/technex-iit-bhu/image/upload/v1512830039/think_talks_atefut.jpg); background-size: contain;">
																		<img class="media media--hide" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509361974/think_talks_sgfd_yqhy6k.jpg" alt="">
														</div>
	</div>

<!--  -->
	<div class="container">
				<div class="content m4 c6">
					<h1 class="h3" style="text-align: center;">PROF. VEER BHADRA MEMORIAL AIRSHOW</h1>
					<p style="text-align: center;">The airshow was first held on 6th March 2014 in the memory of late Prof Veer Bhadra Mishra, former head of Dept. of Civil Engineering, Indian Institute of Technology (BHU) Varanasi and Mahant of Sankat Mochan Hanuman Temple. Popularly known as Hero of the Planet, he has been recognised on the United Nation Environmental Programme’s “Global 500 Roll of Honour” for his immeasurable contribution towards cleaning of the holy Ganges.</p>
					<p style="text-align: center;">Aeromodelling Club, Science and Technology Council, IIT (BHU) Varanasi is back with the fourth edition of Airshow to commemorate his dedication and spirit. With the footfall of over 5000 in early editions, we're all set to provide an awe-inspiring event with finest flyers of India performing the unique and petrifying aerobatics with the Radio Controlled Electric and IC planes, water rockets, hovercraft, autonomous and semi-autonomous multi rotors. AIRSHOW 2018 will be the most dynamic pageant of its kind ever staged in India.</p>
				</div>
			</div>		

	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>

		<span class="mask__item c6"></span>
	</div>

</header>






				<section class="master__section logos-grid container ">
			<div class="ct--master ct--logos-grid c12 m1">

<!--  -->
<hr>
				<h1 class="h2" style="text-align: center;">VISION</h1>
				<hr>
				<p style="text-align: center;">With a positive vision to promote aviation among the students and encourage aerospace in India especially Varanasi, Airshow is conducted annually with new and innovative models every year. Apart from providing a platform for the aero modellers across India to showcase their skills and creative ideas the airshow aims to push for research in the field of model aircraft design and construction.The aerospace exhibition will feature the technology of tomorrow, thus spreading the awareness about new techniques and breakthroughs in the field of Aerospace among the common masses.</p>
				<br/>
				<hr>
				<h1 class="h2" style="text-align: center;">PROF. VEER BHADRA</h1>
				<hr>
				<p style="text-align: center;">In 1999, Time (magazine) named seven people from across the globe as “Heroes of the Planet”. One of the seven was the former head-of-department of civil engineering at the Benares Hindu University (BHU), Professor Veer Bhadra Mishra. Mahantji, as he was called, had also been on the UN’s Global Roll of Honour in 1992.</p>
				<p style="text-align: center;">Towards this end, he established the Sankat Mochan Foundation, which did exceptional work for clearing the river of pollutants, especially in and around Varanasi. Under him, the foundation developed and implemented an efficient mechanism for this purpose.</p>
				<p style="text-align: center;">Prof Mishra specialised in hydraulic engineering and water resource management. In all, his teaching career spanned almost 40 years. His indefatigable will was brought about by an integration of scientific training and his complete devotion to the Ganga. He earned the title of Ganga Putra (Son of Ganga).</p>
				<p style="text-align: center;">In his life, Prof Mishra remained loyal to all three icons — the deity, the temple, and its progenitor.</p>
				<br/>
				<hr>
				<h1 class="h2" style="text-align: center;">MARVELS AT AIRSHOW</h1>
				<hr>
				<p style="text-align: center;">Marvels like the Red Swan, The Black Hawk and Cloud Dancer will be joined by many others, from home and abroad, for a series of breathtaking routines and manoeuvres. Here are some of the highlights from our stellar lineup of aerobatic daredevils that promise to leave the crowd spellbound.</p>
				<br/>		
				<ul style="">
					<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture44").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The  Black Hawk:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture44">
			            <div id="">
			            	<span style="color: grey;text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The  Black Hawk:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >A State of the Art autonomous quadcopter, A versatile GPS Controlled Machine empowered with Live Video Feed, Automatic Path Planning and Return to Home.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture55").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Humming Parrot</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture55">
			            <div id="">
			            	<span style="color: grey;text-align:right; margin-left:10px; position: relative; bottom:15px; font-weight:bold; ">The Humming Parrot</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >A first in its making, this balsa wood plane boasts of a 1.1m wingspan and is powered by an amazing 2.5cc glow engine which runs on methanol based fuel.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture66").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Red Swan:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture66">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Red Swan:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >The Red Swan is an electric powered park fly glider with an excellent flight experience and precise control.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture77").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Cloud Dancer:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture77">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Cloud Dancer:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >The cloud dancer is an RC trainer that is compact, fast and resembles a bomber. Keep an eye out for this one.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture88").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Trail Blazer:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture88">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Trail Blazer:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >Watch as this plane beautifully navigates the sky leaving a trail of smoke outlining its path in the air</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture99").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Diesel throttler:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture99">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Diesel throttler:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >Inspired primarily by Full-Scale piloted planes. This 3.2cc Diesel Engine RC is worth a watch.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture1").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Trifecta Tricopter:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture1">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Trifecta Tricopter:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >Making a noise of a buzz, this three armed multi-rotor is one of its kind, both in looks and in speed.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture2").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Tarot Racer:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture2">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Tarot Racer:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >GET ! SET !! GO  !!!!</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture3").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Viper Jet:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture3">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Viper Jet:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >The sweet and compact RC model resembles the working of a jet engine plane with a hidden motor propeller mechanism.</span>
			            </div>
			    	</div>

			    	<li style="width:100%">
			            <a href="#" class="r r--57-32" id="lecturemain11" onclick='
			            var modalBigContent = new tingle.modal();
			            modalBigContent.setContent(document.getElementById("lecture4").innerHTML);
			            modalBigContent.open();'>
						<div class="container1" >
			                <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515757097/rak_h0txtt.png" class="image"  style="width:130%; margin-left:-45px;" >
			                <div class="middle">
							</div>
						</div>
			            </a>
			            <p style="text-align: center;font-weight: bold;">The Bi-Winger:</p>
			        </li>
			        <div class="tingle-demo" style="display: none;" id="lecture4">
			            <div id="">
			            	<span style="color: grey; text-align:right; margin-left:10px;position: relative; bottom:15px; font-weight:bold; ">The Bi-Winger:</span>
			            	<br>
			            	<span style="color: grey;text-align: justify;" class="para" >A vintage style plane, this cute RC Model with its two wings, flying slowly through the air, is a sight to behold</span>
			            </div>
			    	</div>

    			</ul>



				
				

    		


</div>
		</section>







									</div>
						<span class="ct--close btn btn--close">
		<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
</span>			</div>
		</section>
		<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">

                                       <!--<li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>-->
                </ul>

	</div>
</footer>


<div class="mask mask--page">
<div class="loader"></div>
</div>
<script type='text/javascript' src='/static/history/js/main-mobile.js'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->


</body>
</html>
