<!doctype html>
{% load staticfiles %}
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
	<title>Airshow | Technex '18</title>
		<meta charset="utf-8">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2018 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main.css" type='text/css' media='all' />
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68539305-2', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body class="device-desktop   " >
	<header id="nav-header" class="shown" >
		<a class="logo" href="/" rel="nofollow"></a>
		{% include 'navbar.html' %}
		<span class="search-toggle">
			<svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
		</span>
		<div class="nav-header__overlay"></div>
	</header>
<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">
	<header class="ct--header ct--header--center  fs">
	<div class="wrapper fs">
		<div class="ct--header__content c8">
			<span class="h4 t t--dy t--header" style="transform: translate3d(0px, 0px, 0px);"><span class="t--mask" style="transform: translate3d(0px, 0px, 0px);"></span></span>
			<h1 class="h1 t t--dy t--header" style="transform: translate3d(0px, 0px, 0px);">
			<span class="t--mask" style="transform: translate3d(0px, 0px, 0px);"></span>
			</h1>
			<span class="h4 t t--dy t--header" style="transform: translate3d(0px, 0px, 0px);"><span class="t--mask" style="transform: translate3d(0px, 0px, 0px);">
			</span></span>
			<div class="preloader">
				<span class="progress" style="background: none;"><span class="bar" style="transform-origin: 100% 0px 0px;"></span></span>
				<span class="btn btn--rect">Suite</span>
			</div>
		</div>
		<span class="ct--header__cta ct--header__cta--1 ">
		<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask"><img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span></span>
		<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
		</span>

		<div class="ct--header__background r r--16-9" >
			<video class="media" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509480136/Social_Theme_NTPC_Style_qv6r3n.jpg" loop="loop" muted="muted" style="opacity:0.75;margin-top:125px;"></video>
		</div>
	</div>
	<div class="container">
		<div class="content m4 c6">
		<h1 class="h3" style="text-align: center;">PROF. VEER BHADRA MEMORIAL AIRSHOW</h1>
			<p style="text-align: justify;">The airshow was first held on 6th March 2014 in the memory of late Prof Veer Bhadra Mishra, former head of Dept. of Civil Engineering, Indian Institute of Technology (BHU) Varanasi and Mahant of Sankat Mochan Hanuman Temple. Popularly known as Hero of the Planet, he has been recognised on the United Nation Environmental Programme’s “Global 500 Roll of Honour” for his immeasurable contribution towards cleaning of the holy Ganges.</p>
			<p>Aeromodelling Club, Science and Technology Council, IIT (BHU) Varanasi is back with the fourth edition of Airshow to commemorate his dedication and spirit. With the footfall of over 5000 in early editions, we're all set to provide an awe-inspiring event with finest flyers of India performing the unique and petrifying aerobatics with the Radio Controlled Electric and IC planes, water rockets, hovercraft, autonomous and semi-autonomous multi rotors. AIRSHOW 2018 will be the most dynamic pageant of its kind ever staged in India.</p>
		</div>
	</div>
	<span class="ct--header__cta ct--header__cta--2">
	<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
	<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
	</span>
	<div class="mask">
		<span class="mask__item c6"></span>
		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		<span class="mask__item c6"></span>
	</div>
	</header>
	<section class="master__section advanced-content container ">
		<div class="ct--master ct--advanced-content ">
			<div class="content m4 c6">
			<h1 class="h3" style="font-size: 22px;text-align: center;">VISION</h1>
			<p style="text-align: center;">With a positive vision to promote aviation among the students and encourage aerospace in India especially Varanasi, Airshow is conducted annually with new and innovative models every year. Apart from providing a platform for the aero modellers across India to showcase their skills and creative ideas the airshow aims to push for research in the field of model aircraft design and construction.The aerospace exhibition will feature the technology of tomorrow, thus spreading the awareness about new techniques and breakthroughs in the field of Aerospace among the common masses.</p>
			</div>
		</div>
	<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
		<h1 class="h3" style="font-size: 22px;text-align: center;">PROF. VEER BHADRA</h1>
		<p style="text-align: center;">In 1999, Time (magazine) named seven people from across the globe as “Heroes of the Planet”. One of the seven was the former head-of-department of civil engineering at the Benares Hindu University (BHU), Professor Veer Bhadra Mishra. Mahantji, as he was called, had also been on the UN’s Global Roll of Honour in 1992.</p>
		<p>Towards this end, he established the Sankat Mochan Foundation, which did exceptional work for clearing the river of pollutants, especially in and around Varanasi. Under him, the foundation developed and implemented an efficient mechanism for this purpose.</p>
		<p>Prof Mishra specialised in hydraulic engineering and water resource management. In all, his teaching career spanned almost 40 years. His indefatigable will was brought about by an integration of scientific training and his complete devotion to the Ganga. He earned the title of Ganga Putra (Son of Ganga).</p>
		<p>In his life, Prof Mishra remained loyal to all three icons — the deity, the temple, and its progenitor.</p>
		</div>
	</div>
	<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
		<h1 class="h3" style="font-size: 22px;text-align: center;">MARVELS AT AIRSHOW</h1>
		<p style="text-align: center;">Marvels like the Red Swan, The Black Hawk and Cloud Dancer will be joined by many others, from home and abroad, for a series of breathtaking routines and manoeuvres. Here are some of the highlights from our stellar lineup of aerobatic daredevils that promise to leave the crowd spellbound.</p>	
		</div>
	</div>
</section>

<section class="master__section quote container ">
	<div class="ct--master ct--quote"><br /></div>
</section>

	<section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The  Black Hawk:</h1>
		<p style="text-align: justify;">A State of the Art autonomous quadcopter, A versatile GPS Controlled Machine empowered with Live Video Feed, Automatic Path Planning and Return to Home.</p>
	</div>
	</div>
	</div>
	</section>

	<section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Humming Parrot</h1>
		<p style="text-align: justify;">A first in its making, this balsa wood plane boasts of a 1.1m wingspan and is powered by an amazing 2.5cc glow engine which runs on methanol based fuel.</p>
	</div>
	</div>
	</div>
	</section>

	<section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Red Swan:</h1>
		<p style="text-align: justify;">The Red Swan is an electric powered park fly glider with an excellent flight experience and precise control.</p>
	</div>
	</div>
	</div>
	</section>
	<section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Cloud Dancer:</h1>
		<p style="text-align: justify;">The cloud dancer is an RC trainer that is compact, fast and resembles a bomber. Keep an eye out for this one.
</p>
	</div>
	</div>
	</div>
	</section><section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Trail Blazer:</h1>
		<p style="text-align: justify;">Watch as this plane beautifully navigates the sky leaving a trail of smoke outlining its path in the air</p>
	</div>
	</div>
	</div>
	</section><section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Diesel throttler:</h1>
		<p style="text-align: justify;">Inspired primarily by Full-Scale piloted planes. This 3.2cc Diesel Engine RC is worth a watch.
</p>
	</div>
	</div>
	</div>
	</section><section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Trifecta Tricopter:</h1>
		<p style="text-align: justify;">Making a noise of a buzz, this three armed multi-rotor is one of its kind, both in looks and in speed.</p>
	</div>
	</div>
	</div>
	</section><section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Tarot Racer:</h1>
		<p style="text-align: justify;">GET ! SET !! GO  !!!!</p>
	</div>
	</div>
	</div>
	</section><section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Viper Jet:</h1>
		<p style="text-align: justify;">The sweet and compact RC model resembles the working of a jet engine plane with a hidden motor propeller mechanism.</p>
	</div>
	</div>
	</div>
	</section>
	<section class="master__section two-cols container" style="margin-top: -150px;">
	<div class="ct--master ct--two-cols">
	<div class="col left m2 c3 illustrate">
	
	<div class="picture">
	<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509023253/cycle_nhdmbz.png" alt="" style="height: 90%;">
	</div>
	</div>
	
	<div class="col right c6 illustrate" style="margin-top: 30px;">
	<div class="content">
		<h1 class="h3" style="text-align: center;">The Bi-Winger:</h1>
		<p style="text-align: justify;">A vintage style plane, this cute RC Model with its two wings, flying slowly through the air, is a sight to behold.</p>
	</div>
	</div>
	</div>
	</section>

	<footer class="footer" style="margin-top:-170px;">
	<div class="container container--full" style="">
		<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">
            <li>
                <a href="/contacts/">
                   <strong> Contacts</strong>
                </a>
            </li>
            <li>
                <a href="http://ca.technex.in" target="_blank">
                    <strong>Campus Ambassador</strong>
                </a>
            </li>    
        </ul>
        <ul class="footer__socials" style="z-index: 900">
            <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="follow us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="follow us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="follow us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
	        <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="follow us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
        </ul>
	</div>
</footer>




										<!--<div class="line-wrapper">
						<span class="container"><i class="line m4"></i></span>
					</div>
					<div class="line-wrapper line-wrapper--center">
						<span class="container"><i class="line m7"></i></span>
					</div>
					<div class="line-wrapper">
						<span class="container"><i class="line m10"></i></span>
					</div>-->
									</div>
						<span class="ct--close btn btn--close">


</span>			</div>
		</section>

		<div class="mask mask--page">
							<span class="mask__item c6"></span>

				<div class="container">
					<span class="mask__item c4"></span>
					<span class="mask__item c6"></span>
					<span class="mask__item c4"></span>
				</div>

				<span class="mask__item c6"></span>
					</div>


	<script type='text/javascript' src="/static/new/new.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->


			</body>
</html>
