
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" >
 function theAjax(uri,data){
 return $.ajax({
    type:"POST",
    dataType:"json",
    url: uri,
    data : data
 });
};

function fb_share(){
	data = {};
	data["message"] = document.getElementById("mess").value;
	data["link"] = document.getElementById("link").value;
	data["last"] = document.getElementById("last").value;
	theAjax('/autoshare/',data).done(function(response){
      if (response['status'] == 1)
      {
        alert("Successfully Done!!");
        console.log(response['res'])
      
      }
      else
      {

      	alert("It didn't seem to work!!"+"\n"+response['res']);
      }
    });
}

</script>

<form action="/action_page.php">
  Message: <input type="text" id="mess" name="message"><br>
  Link: <input type="text" id="link" name="link"><br>
  counter: <input type="text" id="last" name="last"><br>
  <p>Allowed counter: 0 to 4</p>
  <p>counter for sharing to all: 9</p>
  <!-- last counter:<p id="count"> {{ last }} </p><br> -->
  <button type="button" onclick="fb_share()">Share on Facebook</button>
</form>
