
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" >
 function theAjax(uri,data){
 return $.ajax({
    type:"POST",
    dataType:"json",
    url: uri,
    data : data
 });
};

function fb_share(){
	data = {};
	data["message"] = document.getElementById("mess").value;
	data["link"] = document.getElementById("link").value;

	theAjax('/autoshare/',data).done(function(response){
      console.log(response);
      if (response['status'] == 1)
      {
        alert("Successfully Done!!");
        createCookie('last_link',data['link']);
        createCookie('last_message',data['message']);
        createCookie('last_share',parseInt(data['last'])+1);
        location.reload(true);
        console.log(readCookie('last_link'))
        console.log(readCookie('last_message'))
      }
      else
      {
      	alert("It didn't seem to work!!");
      }
    });
}

function createCookie(name,value) {
    document.cookie = name+"="+value+"; path=/";

	console.log("here");
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
</script>

<form action="/action_page.php">
  Message: <input type="text" id="mess" name="message"><br>
  Link: <input type="text" id="link" name="link"><br>
  Last message: {{ last_message }}<br>
  Last share link:  {{ last_link }}<br>
  
  counter:<p id="count"> {{ last }} </p><br>
  <button type="button" onclick="fb_share()">Share on Facebook</button>
</form>
