	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Corporate Conclave</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		


		
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		
		
		<style >

		.ct--two-cols .col.left .picture:after {


			padding-bottom: 90%;

		}

		</style>
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>



	</head>

	<body class="device-mobile   loading" >


		
		<header id="nav-header" class="" >
			<a class="logo" href="/" rel="nofollow">
				<img src="/static/history/img/logo_white.png" alt="Technex" style=" height:45px;">
			</a>
			<nav class="nav" role="navigation">

		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events/">
							<a class="" href="/events/">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks/">
							<a class="" href="/talks/">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/exhibitions/">
							<a class="" href="/exhibitions/">EXHIBITIONS</a>
						</li>
						<li class="menu__item " data-href="/startupfair/">
							<a class="" href="/startupfair/">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/simulation/">
							<a class="" href="/simulation/">SIMULATION</a>
						</li>
						<li class="menu__item " data-href="/conclave/">
							<a class="" href="/conclave/">CORPORATE CONCLAVE</a>
						</li>
						<li class="menu__item " data-href="/initiative/">
							<a class="" href="/initiative/">INITIATIVE</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
						</li>
												<li class="menu__item " data-href="/contacts/">
							<a class="" href="/contacts/">CONTACTS</a>
						</li>
						<li class="menu__item " data-href="/sponsors/">
							<a class="" href="/sponsors/">SPONSORS</a>
						</li>
		</ul>
	</div>
</nav>
<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
	</header>
			
		



		
<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--left  ">

				<div class="wrapper fs">
					<div class="ct--header__content c8">

						
						



					</div>





					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" style="background-image:url( http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509394119/cc_tyq1da.jpg)">
						<img class="media media--hide" src="" alt="">
					</div>
				</div>




				<div class="mask">
					<span class="mask__item c6"></span>

					<div class="container">
						<span class="mask__item c4"></span>
						<span class="mask__item c6"></span>
						<span class="mask__item c4"></span>
					</div>

					<span class="mask__item c6"></span>
				</div>

			</header>


			<section class="master__section two-cols container first">


				<div class="ct--master ct--two-cols">
					
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: justify;" >
							
							<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>


						</div>
					</div>

				</div>		
			</section>




			<section class="master__section two-cols container first">


				<div class="ct--master ct--two-cols">
					<div class="col left m1 c3 illustrate">
						<div class="picture">
							<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/lnt_pfhimk.jpg" alt="" />
						</div>

					</div>
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: center;" >
							<h2 style="font-weight:bold; font-size:2.5rem;" >LARSEN AND TOUBRO  </h2>
							<h5 style="font-size:1.5rem;">Careers in Engineering</h5>
							


						</div>
					</div>

				</div>		
			</section>

				<section class="master__section two-cols container first">
				<div class="ct--master ct--two-cols">
					<div class="col left m1 c3 illustrate">
						<div class="picture">
							<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/sam_utogmx.jpg" alt="" />
						</div>

					</div>
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: center;" >
							<h2 style="font-weight:bold; font-size:2.5rem;">SAMSUNG	 </h2>
							<h5 style="font-size:1.5rem;">Virtual Reality</h5>
							


						</div>
					</div>

				</div>		</section>


				<section class="master__section two-cols container first">
				<div class="ct--master ct--two-cols">
					<div class="col left m1 c3 illustrate">
						<div class="picture">
							<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024916/citi_lwire3.jpg" alt="" />
						</div>

					</div>
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: center;" >
			<h2 style="font-weight:bold; font-size:2.5rem;">CITI</h2>
			<h5 style="font-size:1.5rem;">Technology in Banking</h5>
							


						</div>
					</div>

				</div>		</section>

				<section class="master__section two-cols container first">
				<div class="ct--master ct--two-cols">
					<div class="col left m1 c3 illustrate">
						<div class="picture">
							<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/des_utks1p.jpg" alt="" />
						</div>

					</div>
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: center;" >
			<h2 style="font-weight:bold; font-size:2.5rem;">DE SHAW AND CO  </h2>
			<h5 style="font-size:1.5rem;">Career Opportunity in Financial Sector And Software Industries</h5>
							


						</div>
					</div>

				</div>		</section>

				<section class="master__section two-cols container first">
				<div class="ct--master ct--two-cols">
					<div class="col left m1 c3 illustrate">
						<div class="picture">
							<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/mnpsnd_ye2hvt.jpg" alt="" />
						</div>

					</div>
					<div class="col right c6 illustrate">
						
						<div class="content" style="text-align: center;" >
			<h2 style="font-weight:bold; font-size:2.5rem;">MANPASAND </h2>
			<h5 style="font-size:1.5rem;">India - A Country of Innovators And Entrepreneurs</h5>
							


						</div>
					</div>

				</div>		</section>

				
				
				




				
							<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">
			
                                       <!--<li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>-->
                </ul>
       
	</div>
</footer>


			</div>
						</div>
		</section>

		<div class="mask mask--page">
			<div class="loader"></div>
		</div>

		
	<script type='text/javascript' src="/static/history/js/main-mobile.js"></script>



</body>
</html>
