<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Corporate Conclave | Technex '18</title>
		<meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   		<meta name="description" content="50+ events and competitions with prizes worth 2 million.">
    	<meta name="keywords" content="technex, technex18, technex 18, iitbhu, bhu, varanasi, big, best, biggest, awesome, large, largest, online, online events, iit fest, robots, science, technology, management, competitions, events, games, informals, robonex, ascension, byte-the-bits, extreme engineering, modex, pahal, supernova, prizes, riqueza, creatrix">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main.css" type='text/css' media='all' />

		<style type="text/css">
		.test{
			
		
        -webkit-background-size: cover !important;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100% !important;
        width: auto !important;
   		 }
		</style>
		
			</head>
	<body class="device-desktop   " >
		
		<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">
			</a>
			<nav class="nav" role="navigation">
				<div class="container container--full">
					<ul class="menu">
						<li class="menu__item " data-href="/events">
							<a class="" href="/events">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks">
							<a class="" href="/talks">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/sponsors">
							<a class="" href="/sponsors">SPONSORS</a>
						</li>
						<li class="menu__item " data-href="/kaleidoscope">
							<a class="" href="/conclave">CORPORATE CONCLAVE</a>
						</li>
						<li class="menu__item " data-href="/startupfair">
							<a class="" href="/startupfair">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/contacts">
							<a class="" href="/contacts">CONTACTS</a>
						</li>
						<li class="menu__item " data-href="/hospitality">
							<a class="" href="/hospitality">HOSPITALITY</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" href="/campusambassador">CAMPUS AMBASSADOR</a>
						</li>
					</ul>
			</div>
		</nav>
	</header>	

		
		

		

				
		
		<section id="container" role="main">
			<div id="master" class="master">
				<div class="scrollable">
					
    


<header class="ct--header ct--header--center  fs">
	
	<div class="wrapper fs">
		<div class="ct--header__content c8">
							
			
							
			<h1 class="h1 t t--dy t--header">
				
			
						
							<div class="preloader">
					<span class="progress"><span class="bar"></span></span>
					<span class="btn btn--rect">Suite</span>
				</div>
			
			
			
		</div>

					<span class="ct--header__line t t--dy t--sy t--header"></span>
		
				
					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask"><img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>
		

		<div class="ct--header__background r r--16-9 " >
												<video style="opacity: .75" class="media test media--height" style="background-size: cover;" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022639/cc_oktjxp.jpg" loop="loop" muted="muted">
						
					</video>
									</div>
	</div>

			<div class="container">
			
		</div>
		
				<span class="ct--header__cta ct--header__cta--2">
			<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
			<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
		</span>
			
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

    <section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="margin: 0 8%">
		
	<div class="col right c6 illustrate" style="margin:0%; width: 69%;" >
		
		<div class="content" style="text-align:justify">
			<h2 style="font-size: 3rem; font-weight: bold;">LARSEN AND TOUBRO : </h2>
			<h5 style="font-size: 2.5rem;" style="font-size: 2.5rem;">Careers in Engineering</h5>
			<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>

		</div>
	</div>

	<div class="col left m1 c3  illustrate" style="margin-left: 4%; width: 25%" >
					<div class="picture" >
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/lnt_pfhimk.jpg" alt="" >
			</div>
		
			</div>

</div>		</section>
				
		<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="margin: 0 8%">
		
	<div class="col right c6 illustrate" style="margin:0%; width: 69%;" >
		
		<div class="content" style="text-align:justify">
			<h2 style="font-size: 3rem; font-weight: bold;">SAMSUNG : </h2>
			<h5 style="font-size: 2.5rem;"> Virtual Reality</h5>
			<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>

		</div>
	</div>

	<div class="col left m1 c3  illustrate" style="margin-left: 4%; width: 25%" >
					<div class="picture" >
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/sam_utogmx.jpg" alt="" >
			</div>
		
			</div>

</div>		</section><section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="margin: 0 8%">
		
	<div class="col right c6 illustrate" style="margin:0%; width: 69%;" >
		
		<div class="content" style="text-align:justify">
			<h2 style="font-size: 3rem; font-weight: bold;">CITI: </h2>
			<h5 style="font-size: 2.5rem;">Technology in Banking</h5>
			<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>

		</div>
	</div>

	<div class="col left m1 c3  illustrate" style="margin-left: 4%; width: 25%" >
					<div class="picture" >
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024916/citi_lwire3.jpg" alt="" >
			</div>
		
			</div>

</div>		</section><section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="margin: 0 8%">
		
	<div class="col right c6 illustrate" style="margin:0%; width: 69%;" >
		
		<div class="content" style="text-align:justify">
			<h2 style="font-size: 3rem; font-weight: bold;">DE SHAW AND CO  : </h2>
			<h5 style="font-size: 2.5rem;">Career Opportunity in Financial Sector And Software Industries</h5>
			<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>

		</div>
	</div>

	<div class="col left m1 c3  illustrate" style="margin-left: 4%; width: 25%" >
					<div class="picture" >
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/des_utks1p.jpg" alt="" >
			</div>
		
			</div>

</div>		</section><section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="margin: 0 8%">
		
	<div class="col right c6 illustrate" style="margin:0%; width: 69%;" >
		
		<div class="content" style="text-align:justify">
			<h2 style="font-size: 3rem; font-weight: bold;">MANPASAND : </h2>
			<h5 style="font-size: 2.5rem;">India - A Country of Innovators And Entrepreneurs</h5>
			<p><strong>Technex '18</strong></a> presents before you "Corporate Conclave", which brings together the biggest corporate stalwarts of present times. The conclave aims to establish a platform through which the students will interact with the executives, to prepare themselves for the corporate battle ahead. The conclave will consist of interactive workshops and discussions between company executives and students, to help foster a better knowledge and awareness of the know-how of the industry.</p>

		</div>
	</div>

	<div class="col left m1 c3  illustrate" style="margin-left: 4%; width: 25%" >
					<div class="picture" >
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024915/mnpsnd_ye2hvt.jpg" alt="" >
			</div>
		
			</div>

</div>		</section>
				

							<footer class="footer">
	<div class="container container--full">
		<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

                    <li>
                <a href="/contacts">
                   <strong> CONTACTS</strong>
                </a>
            </li>
                    <li>
                <a href="/sponsor">
                    <strong>SPONSORS</strong>
                </a>
            </li>
                   
                </ul>
		
        <ul class="footer__socials" style="z-index: 900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/> 
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>
					

										
									</div>
									</div>
		</section>

		<div class="mask mask--page">
							<span class="mask__item c6"></span>

				<div class="container">
					<span class="mask__item c4"></span>
					<span class="mask__item c6"></span>
					<span class="mask__item c4"></span>
				</div>
				
				<span class="mask__item c6"></span>
					</div>

		
					<script type='text/javascript' src="/static/new/new.js"></script>

		
					
			</body>
</html>
