<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Events | Technex '18</title>

				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="description" content="50+ events and competitions with prizes worth 2 million.">
    	<meta name="keywords" content="technex, technex18, technex 18, iitbhu, bhu, varanasi, big, best, biggest, awesome, large, largest, online, online events, iit fest, robots, science, technology, management, competitions, events, games, informals, robonex, ascension, byte-the-bits, extreme engineering, modex, pahal, supernova, prizes, riqueza, creatrix">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">


<link rel='stylesheet' id='stylesheet-css'  href='/static/history/css/main-mobile.css' type='text/css' media='all' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>




/*.chandu-loader-overlay {
    width: 100%;
    height: 100%;
    background: url(/static/technex-loader-new.gif) center no-repeat gray;
    z-index: 99999;
    position: fixed;
    animation: small 1.25s alternate infinite ease-in-out;
}*/

			p{
				color: white;
			}

			span{
				color: white;
			}

			.col .right .c6 .clearfix .p{
				text-align: justify;
			}

			.details .p{
				text-align: justify;
			}

			h2{
				font-size: 3rem;
				font-weight: 600;
			}

			h3.h2.m1.c9{
				font-size: 2rem;
				padding-top: 5px;
			}

			.details.p{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		
</style>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    jQuery(window).load(function(){
        jQuery(".chandu-loader-overlay").fadeOut(500);
    });
</script>   -->

		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>


			</head>
	<body class="device-mobile   loading" >
		<div class="chandu-loader-overlay"></div>

		<header id="nav-header" class="">
			<img src="" class="logo"/>
		{% include 'navbarmobile.html' %}
<!-- <span class="search-toggle">
<svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
</span> -->
<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>

		<section id="container" role="main">
			<div id="events" class="events">
				<div class="scrollable">




<header class="ct--header ct--header--left  fs">

	<div class="wrapper fs">
		<div class="ct--header__content c8">

						<!--span class="h4 t t--dy t--header"><span class="t--mask" style="text-align: center;">Presenting 50+</span></span-->

			<!--h1 class="h3 t t--dy t--header">
				<span class="t--mask" style="text-align: center;">
                 EVENTS</span>

			</h1-->
			<!--span class="h4 t t--dy t--header" style="margin-top: 5px; text-align: center;"><span class="t--mask">Prizes worth 4.3 million</span></span-->






		</div>



					<span class="ct--header__cta ct--header__cta--1 force-to-bottom">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Scroll</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>


		<div class="ct--header__background r r--16-9" style="background-image:url(http://res.cloudinary.com/technex-iit-bhu/image/upload/v1512830106/events_szvly2.jpg); background-size: contain;">
																		<img class="media media--hide" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510325154/Events/event-back-min.jpg" alt="">
														</div>
	</div>


	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>

		<span class="mask__item c6"></span>
	</div>

</header>

	<div class="events__container">

		<div id="ct--mapbox" class="events__container__map ct--mapbox abs"></div>

		<div class="events__container__titles abs">
			<div class="title c6 m4 first">
				<h3>
					EVENTS
				</h3>
			</div>
		</div>

		<div class="events__container__menu c4 abs">
			<div class="wrapper">
		<ul>
								{% for parentEvent in eventdata.data %}
								 <li class="h4 country first-level js-item-parentevent" data-parentevent-id="{{parentEvent.parentEventId}}">
										<span class="title">
											{{parentEvent.parentEventName}}
										</span>
										<span class="cross first-level"></span>
										<span class="sub-overflow">
											<ul class="sub">
											{% for event in parentEvent.events %}

												<li class="p js-item-event" data-id="{{event.eventId}}">
													{{event.event_name}}<span class="cross"></span>
												</li>
											{% endfor %}
											</ul>
										</span>
									</li>
									{% endfor %}
								</ul>
			</div>
		</div>

		<div class="events__container__popin abs" style="visibility: hidden; ">
			<span class="ct--close close-container js-close blue p">
			<img src="/static/cross.png" style="max-height: 25px;">
		<!-- <svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg> -->

</span>			<div class="background clouds"></div>
			<div class="background js-background"></div>
			<div class="scrollable-wrapper scrollable js-target-content container container--full">
			</div>
		</div>
		<div class="data-container events" data-events="[{{response}}]" ></div>
	</div>
<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">

                                       <!--<li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>-->
                </ul>
        
	</div>
</footer>

<div class="mask mask--page">
<div class="loader"></div>
</div>
<script type='text/javascript' src="/static/history/js/main-mobile.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109327246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109327246-1');
</script>

</body>
</html>
