	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Exhibition</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>		


		
		

		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel='stylesheet' id='stylesheet-css'  href='/static/history/css/main.css' type='text/css' media='all' />
		



		<style >

		.ct--two-cols .col.left .picture:after {


			padding-bottom: 90%;

		}
		.test{
			
		
        -webkit-background-size: cover !important;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100% !important;
        width: auto !important;
   		 }

		

		


		
  

	</style>

</head>
<body class="device-desktop   " >

	<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<!--<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">-->
			</a>
			<nav class="nav" role="navigation">
				<div class="container container--full" style="margin-left:-40px;">
					<ul class="menu">
						<li class="menu__item" data-href="/events">
							<a class="" href="/events">Events</a>
						</li>
						<li class="menu__item" data-href="/talks">
							<a class="" href="/talks">Think Talks</a>
						</li>





						
    <li class="menu__item" data-href="/conclave">
							<a class="" href="/conclave">Corporate Conclave</a>
						</li>
						
    
    <li class="menu__item" data-href="/simulation">
							<a class="" href="/simulation">Simulation Challenge</a>
						</li>
<li class="menu__item" data-href="/startupfair" style="margin-top:-15px;">
							<a class="" href="/"><img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;"></a>
						</li>


						<li class="menu__item" data-href="/startupfair">
							<a class="" href="/startupfair">Startup Fair</a>
						</li>
						<li class="menu__item" data-href="/exhibition">
							<a class="" href="/exhibition">Exhibitions</a>
						</li>
						
						
						<li class="menu__item" data-href="/initiative">
							<a class="" href="/initiative">Initiative</a>
						</li>
						<li class="menu__item" data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">Campus Ambassador</a>
						</li>
					</ul>
			</div>
		</nav>
	</header>






<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--center  fs">

				<div class="wrapper fs">
					<div class="ct--header__content c8">
						<span class="icon-wrapper"><span class="t t--dy t--alpha t--header"><svg class="i-header-wrap"><use xlink:href="#i-header"></use></svg></span></span>


						<h1 class="h1 t t--dy t--header">
							<span class="t--mask">
								Exhibition
							</span>
						</h1>

						
						<div class="preloader">
							<span class="progress"><span class="bar"></span></span>
							<span class="btn btn--rect">Suite</span>
						</div>



					</div>

					<span class="ct--header__line t t--dy t--sy t--header"></span>


					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask"><img  src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" >
						<video class="media" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509285320/exhibition_r164vb.jpg" loop="loop" muted="muted">
					</video>
							</div>
						</div>

						<div class="container">

						</div>

						<span class="ct--header__cta ct--header__cta--2">
							<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
							<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
						</span>

						<div class="mask">
							<span class="mask__item c6"></span>

							<div class="container">
								<span class="mask__item c4"></span>
								<span class="mask__item c6"></span>
								<span class="mask__item c4"></span>
							</div>

							<span class="mask__item c6"></span>
						</div>

					</header>

					<section class="master__section two-cols container first">
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">CUBE SOLVER</h1>

									<p>Construction of a cube solving robot is a fascinating combination of image processing that uses
                                Graphical User Interface, analysis methods and the controller and motor to launch the computed movement to resolve the puzzle.</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306928/cube_solver_yjoz8w.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306928/industry_bot_ootkux.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">INDUSTRY ROBOT</h1>

									<p>This robot is a prototype of industrial robots constructed using a basic concept of switch and algorithm based programming.</p>

								</div>
							</div>

						</div>

						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">NAO</h1>

									<p>Introducing to you all “The humanoid robot NAO” which can walk, talk, move around and performs user defined tasks.</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306931/nao_spx4be.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306930/puppy_awwmwn.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">BIO BOT</h1>

									<p>Bio-bot is a motorized bot which use different sensors like IR, ultrasonic, distance sensors and powerful actuators.</p>

								</div>
							</div>

						</div>

						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">3D PRINTING</h1>

									<p>Will synthesize a three-dimensional objects in which successive layers of material are formed under computer control to create an object.</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306930/3d_printer_kjm4u4.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306929/bowling_bot_rvcwft.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">BOWLING BOT</h1>

									<p>Bowling Bot is an autonomous robot made using Lego & Tetrix programable kit. It has the ability to sense the path and obstacles and move to the location to pick up the bowling ball then aim using sensors and then hit the pins.</p>

								</div>
							</div>

						</div>

						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">GREEN BUILDING</h1>

									<p>Presenting Green building materials aiming towards sustainability. They are eco-friendly providing ambient climatic conditions, thus providing extreme comfort.</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306929/green_building_zr7zxh.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306928/indro_kgkmpm.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">HUMANOID BOT: INDRO</h1>

									<p>INDRO was not built in a laboratory or a high-end workshop, but instead it was built inside a house with minimal basic tools like aluminium, wood, cardboard, plastic etc.
</p>

								</div>
							</div>

						</div>

						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">MIND CONTROLLED DRONE

</h1>

									<p>The Puzzlebox Orbit is a brain-controlled helicopter.
</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306929/mind_controlled_chwoop.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306931/robotic_hand_nypjhi.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">ROBO HAND</h1>

									<p>An Arduino based project that can move its fingers and pick objects using concept of conductive material with the electronics.</p>

								</div>
							</div>

						</div>


						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">ROCKET</h1>

									<p>An aircraft that flies flapping its wings imitating the size and wing-flapping of birds, bats and insects.</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306929/rocket_bxoutk.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306929/vr_vsgyoi.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">VIRTUAL REALITY

</h1>

									<p>VR simulator is ready to bring an extravaganza of roller coaster ride and take the entertainment to another level.
</p>

								</div>
							</div>

						</div>

						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							<div class="col right c6 illustrate " style="margin:0% 0% 0% 9%; width: 34%;padding-top: 10%;" >

								<div class="content ani" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%;">VR GOLF</h1>

									<p>VIRTUAL GOLF SIMULATOR HAS ALL THE LATEST FEATURES AND TECHNOLOGY WHICH WILL MAKE YOUR GOLFING EXPERIENCE REAL AND ENJOYABLE</p>

								</div>
							</div>

							<div class="col left m1 c3  illustrate" style="margin-left: 9%; width: 45%" >
								<div class="picture" >
									<img style="width: 90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306930/vrgolf_suw62o.png" alt="" >
								</div>

							</div>

						</div>		

						
						<div class="ct--master ct--two-cols" style="margin: 0 2%">

							

							<div class="col left m1 c3  illustrate" style="margin-left: 7%; width: 45%" >
								<div class="picture" >
									<img style="width:90%;" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509306931/mitra_nj5eud.png" alt="" >
								</div>

							</div>

							<div class="col right c6 illustrate" style="margin:0%; width: 34%; padding-top: 10%; margin-left: 3%;" >

								<div class="content" style="text-align: center;">
									<h1 style="font-size: 4rem; margin-bottom: 10%; ">MITRA</h1>

									

								</div>
							</div>

						</div>


						



								</section>

						




							<footer class="footer">
	<div class="container container--full">


			<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

                    <li>
                <a href="/contacts" >
                   <strong> CONTACTS</strong>
                </a>
            </li>
                    <li>
                <a href="/sponsor" >
                    <strong>SPONSORS</strong>
                </a>
            </li>
                   
                </ul>


        <ul class="footer__socials" style="z-index: 900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/> 
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>


							
						<div class="line-wrapper">
						<span class="container"><i class="line m4"></i></span>
					</div>
					<div class="line-wrapper line-wrapper--center">
						<span class="container"><i class="line m7"></i></span>
					</div>
					<div class="line-wrapper">
						<span class="container"><i class="line m10"></i></span>
					</div>
									</div>
						<span class="ct--close btn btn--close">
			
		
</span>			</div>
		</section>
					<div class="mask mask--page">
						<span class="mask__item c6"></span>

						<div class="container">
							<span class="mask__item c4"></span>
							<span class="mask__item c6"></span>
							<span class="mask__item c4"></span>
						</div>

						<span class="mask__item c6"></span>
					</div>

				
				<script type='text/javascript' src='/static/new/new.js'></script>



			</body>
			</html>
