	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Exhibitions | Technex 2018</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<meta property="fb:app_id" content="461359507257085" />
		<meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
		<meta property="og:url" content="http://www.technex.in">
		<meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
			<meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">


		
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		

		<style >

		.ct--two-cols .col.left .picture:after {


			padding-bottom: 90%;

		}

		.ct--master.ct--two-cols {
			margin-bottom: 20%;
		}

		h1 {
			margin-top: 12%;
		}

		h1 {
			line-height: 90%;
		}

		p {
			text-align: justify;
		}

		.content h1{
			font-size: 2rem;
		}

	</style>
	<style>
.chandu-loader-overlay {
    width: 100%;
    height: 100%;
    background: url(/static/technex-loader-new.gif) center no-repeat gray;
    z-index: 99999;
    position: fixed;
    animation: small 1.25s alternate infinite ease-in-out;
}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    jQuery(window).load(function(){
        jQuery(".chandu-loader-overlay").fadeOut(500);
    });
</script>

<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>




</head>

<body class="device-mobile   loading" >
	<div class="chandu-loader-overlay"></div>



	<header id="nav-header" class="">

		<a class="logo" href="/" rel="nofollow">
			<img src="/static/history/img/logo_white.png" alt="Technex" style=" height:45px;">
		</a>
		<nav class="nav" role="navigation">

		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events/">
							<a class="" href="/events/">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks/">
							<a class="" href="/talks/">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/exhibitions/">
							<a class="" href="/exhibitions/">EXHIBITIONS</a>
						</li>
						<li class="menu__item " data-href="/startupfair/">
							<a class="" href="/startupfair/">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/simulation/">
							<a class="" href="/simulation/">SIMULATION</a>
						</li>
						<li class="menu__item " data-href="/conclave/">
							<a class="" href="/conclave/">CORPORATE CONCLAVE</a>
						</li>
						<li class="menu__item " data-href="/initiative/">
							<a class="" href="/initiative/">INITIATIVE</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
						</li>
												<li class="menu__item " data-href="/contacts/">
							<a class="" href="/contacts/">CONTACTS</a>
						</li>
						<li class="menu__item " data-href="/sponsors/">
							<a class="" href="/sponsors/">SPONSORS</a>
						</li>
		</ul>
	</div>
</nav>
<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
	</header>


	<section id="container" role="main">
		<div id="master" class="master">
			<div class="scrollable">




				<header class="ct--header ct--header--left  ">

					<div class="wrapper fs">
						<div class="ct--header__content c8">

							<span class="h4 t t--dy t--header"><span class="t--mask"></span></span>

							<h1 class="h3 t t--dy t--header">
								<span class="t--mask">
									
								</span>
							</h1>





						</div>



						<span class="ct--header__cta ct--header__cta--1 ">
							<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
							<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
						</span>


						<div class="ct--header__background r r--16-9" style="background-image:url( https://res.cloudinary.com/technex-iit-bhu/image/upload/v1509483141/exhibitions_faata9.jpg )">
							<img class="media media--hide" src="" alt="">
						</div>
					</div>




					<div class="mask">
						<span class="mask__item c6"></span>

						<div class="container">
							<span class="mask__item c4"></span>
							<span class="mask__item c6"></span>
							<span class="mask__item c4"></span>
						</div>

						<span class="mask__item c6"></span>
					</div>

				</header>


				<section class="master__section two-cols container first">
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022636/cube_solver_oe1kk8.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">CUBE SOLVER</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022637/industry_bot_bh3ikw.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">INDUSTRY ROBOT</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022638/nao_u67df0.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">NAO</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022639/puppy_wom22o.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">BIO BOT</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022636/3d_printer_whjjlp.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">3D PRINTING</h1>

								
							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022637/bowling_bot_seabdv.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">BOWLING BOT</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022637/green_building_sycwq0.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">GREEN BUILDING</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022638/indro_ysgkue.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">HUMANOID BOT: INDRO</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022638/mind_controlled_sx8hbw.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">MIND CONTROLLED DRONE</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022640/robotic_hand_wy6l3w.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">ROBO HAND</h1>

								
							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022640/rocket_bkl0qx.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">ROCKET</h1>

								
							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022640/vr_st7sls.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">VIRTUAL REALITY</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022641/vrgolf_jxqjvx.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">VR GOLF</h1>

								

							</div>
						</div>
					</div>
					<div class="ct--master ct--two-cols">
						<div class="col left m1 c3 illustrate">
							<div class="picture">
								<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509022638/mitra_uoftur.jpg" alt="" />
							</div>

						</div>
						<div class="col right c6 illustrate">

							<div class="content" style="">
								<h1 style="font-size: 3rem; margin-bottom: 10%; text-align: center;">MITRA</h1>




							</div>
						</div>
					</div>


				</div>

				

				

				

						</section>









				<footer class="footer">
	<div class="container container--full">
		
                                       <!--<li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>-->
                </ul>
       
	</div>
</footer>


			</div>
		</div>
	</section>


	<script type='text/javascript' src="/static/history/js/main-mobile.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109327246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109327246-1');
</script>




</body>
</html>
