	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>


		<title>Exhibitions | Technex'18</title>




		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    	<meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main.css" type='text/css' media='all' />
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>

		<script type="text/javascript" src='/static/tingle.js'></script>





		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel='stylesheet' id='stylesheet-css'  href='/static/history/css/main.css' type='text/css' media='all' />


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




		<style >

		.ct--two-cols .col.left .picture:after {


			padding-bottom: 90%;

		}
	/*	.test{


        -webkit-background-size: cover !important;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100% !important;
        width: auto !important;
   		 }




   		 .container1 {
    position: ;
    width:;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  background-color:;
  color: white;
  font-size: 16px;
  padding: 1px 1px;
}	   */

.con {


			background: #bdc3c7;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}

		.con strong{
			margin-bottom: 6%;
		}



		.con span {

			font-size: 1.2rem;
			border-top: 2px solid #8eb0d0;
		}



	</style>

	<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>

</head>
<body class="device-desktop   " >

	<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<!--<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">-->
			</a>
			{% include 'navbar.html' %}
	</header>






<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--center  fs">

				<div class="wrapper fs">
					<div class="ct--header__content c8">
						<span class="icon-wrapper"><span class="t t--dy t--alpha t--header"><svg class="i-header-wrap"><use xlink:href="#i-header"></use></svg></span></span>


						<h1 class="h1 t t--dy t--header">
							<span class="t--mask">

							</span>
						</h1>


						<div class="preloader">
							<span class="progress"><span class="bar"></span></span>
							<span class="btn btn--rect">Suite</span>
						</div>



					</div>

					<span class="ct--header__line t t--dy t--sy t--header"></span>


					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask"><img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" >
						<video class="media" autoplay="autoplay" poster="https://res.cloudinary.com/technex-iit-bhu/image/upload/v1509483141/exhibitions_faata9.jpg" loop="loop" muted="muted" style="opacity:0.8">
					</video>
							</div>
						</div>

						<div class="container">

						</div>

						<span class="ct--header__cta ct--header__cta--2">
							<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
							<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
						</span>

						<div class="mask">
							<span class="mask__item c6"></span>

							<div class="container">
								<span class="mask__item c4"></span>
								<span class="mask__item c6"></span>
								<span class="mask__item c4"></span>
							</div>

							<span class="mask__item c6"></span>
						</div>

					</header>


						<section class="master__section logos-grid container " >
						<div class="ct--master ct--logos-grid c12 m" style="margin:2px auto;">
    		<h2 class="h1" style="text-align: center;">
		<!--	EXHIBITIONS   -->
		</h2>

    <ul style="">

				                    <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329596/cube_solver_yjoz8w-min_viysll.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                           <!-- <div class="text" style="text-align: center; font-size: 13px;">Construction of a cube solving robot is a fascinating combination of image processing that uses Graphical User Interface, analysis methods and the controller and motor to launch the computed movement to resolve the puzzle.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">CUBE SOLVER</p>

            </li>




           <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/industry_bot_ootkux-min_f0nqas.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                      <!--      <div class="text" style="text-align: center; font-size: 13px;">This robot is a prototype of industrial robots constructed using a basic concept of switch and algorithm based programming.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">INDUSTRY ROBOT</p>

            </li>

             <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/nao_spx4be-min_jtlufs.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                        <!--    <div class="text" style="text-align: center; font-size: 13px;">Introducing to you all “The humanoid robot NAO” which can walk, talk, move around and performs user defined tasks.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">NAO</p>

            </li>



		    </ul>

<ul style="margin-top: 80px;">

				                    <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/puppy_awwmwn-min_erbofn.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                        <!--    <div class="text" style="text-align: center; font-size: 13px;">Bio-bot is a motorized bot which use different sensors like IR, ultrasonic, distance sensors and powerful actuators.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">BIO BOT</p>

            </li>




           <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329596/3d_printer_kjm4u4-min_jexzyz.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                      <!--      <div class="text" style="text-align: center; font-size: 13px;">Will synthesize a three-dimensional objects in which successive layers of material are formed under computer control to create an object.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">3D PRINTING</p>

            </li>

             <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329596/bowling_bot_rvcwft-min_rlpfku.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                     <!--       <div class="text" style="text-align: center; font-size: 13px;">Bowling Bot is an autonomous robot made using Lego & Tetrix programable kit. It has the ability to sense the path and obstacles and move to the location to pick up the bowling ball then aim using sensors and then hit the pins.</div>  -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">BOWLING BOT</p>

            </li>



		    </ul>

		    <ul style="margin-top: 80px;">

				                    <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329596/green_building_zr7zxh-min_t1q1fv.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                        <!--    <div class="text" style="text-align: center; font-size: 13px;">Presenting Green building materials aiming towards sustainability. They are eco-friendly providing ambient climatic conditions, thus providing extreme comfort.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">GREEN BUILDING</p>

            </li>




           <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/indro_kgkmpm-min_uxcd2j.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                    <!--        <div class="text" style="text-align: center; font-size: 13px;">INDRO was not built in a laboratory or a high-end workshop, but instead it was built inside a house with minimal basic tools like aluminium, wood, cardboard, plastic etc..</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">HUMANOID BOT: INDRO</p>

            </li>

             <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/mind_controlled_chwoop-min_ytd8az.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                         <!--   <div class="text" style="text-align: center; font-size: 13px;">The Puzzlebox Orbit is a brain-controlled helicopter.</div>  -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">MIND CONTROLLED DRONE</p>

            </li>



		    </ul>

		    <ul style="margin-top: 80px;">

				                    <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329597/robotic_hand_nypjhi.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                         <!--   <div class="text" style="text-align: center; font-size: 13px;">An Arduino based project that can move its fingers and pick objects using concept of conductive material with the electronics.</div>   -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">ROBO HAND</p>

            </li>




           <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329598/rocket_bxoutk.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                        <!--    <div class="text" style="text-align: center; font-size: 13px;">An aircraft that flies flapping its wings imitating the size and wing-flapping of birds, bats and insects.</div>  -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">ROCKET</p>

            </li>

             <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329598/vr_vsgyoi.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                           <!-- <div class="text" style="text-align: center; font-size: 13px;">VR simulator is ready to bring an extravaganza of roller coaster ride and take the entertainment to another level.</div>  -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">VIRTUAL REALITY</p>

            </li>



		    </ul>
		    <ul style="margin-top: 80px;">

				                    <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329596/vrgolf_suw62o-min_repunj.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                 <!--           <div class="text" style="text-align: center; font-size: 13px; text-transform: lowercase;">VIRTUAL GOLF SIMULATOR HAS ALL THE LATEST FEATURES AND TECHNOLOGY WHICH WILL MAKE YOUR GOLFING EXPERIENCE REAL AND ENJOYABLE</div>  -->
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">VR GOLF</p>

            </li>




           <li style="margin:auto;">

				<div class="container1">
                    <img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1510329598/mitra_nj5eud.png" class="image" style="width:130%; margin-left:-45px;">
						<div class="middle">

                            <div class="text" style="text-align: center; font-size: 13px;">.</div>
						</div>
				</div>


                    <p style="text-align: center; margin-top: 20px;">MITRA</p>

            </li>





		    </ul>







</div>
</section>



									<!--<section class="master__section key-figures container first" >
					<div class="ct--master ct--key-figures ct--key-figures--top">
						<h1 class="h2" style="text-align: center;">CONTACTS</h1>
						<br /> <br />
						<ul class="c25  m2 "  style="" >
							<li class="c5 con">
								<strong style="font-size:4rem">
									Akshay Sharma
								</strong>



								<span style="font-size:1.5rem;text-transform: lowercase;">
									+919956548703
								</span>
							</li>

							<li class="c5 con">
								<strong style="font-size:4rem">
									Vishal Jatawat
								</strong>

								<span style="font-size:1.5rem;text-transform: lowercase;">
									+917054077222
								</span>
							</li>


						</ul>
					</div>
				</section>	-->





							<footer class="footer">
	<div class="container container--full">


			<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

                    <li>
                <a href="/contacts/" >
                   <strong> Contacts</strong>
                </a>
            </li>
                    <li>
                <a href="http://ca.technex.in" target="_blank">
                    <strong>Campus Ambassador</strong>
                </a>
            </li>
            <li>
            	<a class="" href="/initiative/"><strong>Initiative</strong></a>
            </li>

                </ul>


        <ul class="footer__socials" style="z-index: 900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>



						<!--<div class="line-wrapper">
						<span class="container"><i class="line m4"></i></span>
					</div>
					<div class="line-wrapper line-wrapper--center">
						<span class="container"><i class="line m7"></i></span>
					</div>

				</footer>-->






			</div>
			<span class="ct--close btn btn--close">


			</span>			</div>

		</section>
					<div class="mask mask--page">
						<span class="mask__item c6"></span>

						<div class="container">
							<span class="mask__item c4"></span>
							<span class="mask__item c6"></span>
							<span class="mask__item c4"></span>
						</div>

						<span class="mask__item c6"></span>
					</div>


				<script type='text/javascript' src='/static/new/new.js'></script>
				<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109327246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109327246-1');
</script>




			</body>
			</html>
