<!doctype html>
{% load staticfiles %}
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
	<title>Technex 2018 | IIT (BHU) Varanasi | Asia's Oldest Techno-Management Fest</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="description" content="Witness the oldest techno-management festival from 16th - 18th February. Prizes worth 4 million.">
	    <meta name="keywords" content="technex, technex18, technex 18, technex 2018, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main.css" type='text/css' media='all' />
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>
	</head>
	<body class="device-desktop   " >
		<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<!--<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">-->
			</a>
			<nav class="nav" role="navigation">
				<div class="container container--full" style="margin-left:-40px;">
					<ul class="menu">
						<li class="menu__item" data-href="/events">
							<a class="" href="/events">Events</a>
						</li>
						<li class="menu__item" data-href="/talks">
							<a class="" href="/talks">Think Talks</a>
						</li>






    <li class="menu__item" data-href="/conclave">
							<a class="" href="/conclave">Corporate Conclave</a>
						</li>


    <li class="menu__item" data-href="/simulation">
							<a class="" href="/simulation">Simulation Challenge</a>
						</li>
<li class="menu__item" data-href="/startupfair" style="margin-top:-15px;">
							<a class="" href="/"><img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;"></a>
						</li>


						<li class="menu__item" data-href="/startupfair">
							<a class="" href="/startupfair">Startup Fair</a>
						</li>
						<li class="menu__item" data-href="/exhibitions">
							<a class="" href="/exhibitions">Exhibitions</a>
						</li>


						<li class="menu__item" data-href="/initiative">
							<a class="" href="/initiative">Initiative</a>
						</li>
						<li class="menu__item" data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">Campus Ambassador</a>
						</li>
					</ul>
			</div>
		</nav>
		<span  class="search-toggle">
		<svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
	</span>
	<!--<div class="wrapper-toggle">
		<!--<span class="menu-toggle js-toggle">
			<!--<i class="burger"><svg class="i-menu-burger-wrap"><use xlink:href="#i-menu-burger"></use></svg></i>
			<span>MENU</span>-->
		</span>
	</div>
	<div class="nav-header__overlay"></div>
	</header>
	<section id="container" role="main">
		<div id="home" class="home">
			<div class="scrollable">
				<header class="ct--header ct--header--center  fs">
					<div class="wrapper fs">
						<div class="ct--header__content c8">
							<!-- <span class="icon-wrapper"><span class="t t--dy t--alpha t--header"><svg class="i-header-wrap"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-header"></use></svg></span></span> -->
							<div class="h4 t t--dy t--header">
								<div class="t--mask">

							 		<!--<img class="t--header" src="/static/admin2/img/technex_logo_new_white_without.png"/ style="width:100%; height:100%;"\>-->
								</div>
							</div>
							<div class="preloader">
								<span class="progress">
									<span class="bar"></span>
								</span>
								<span class="btn btn--rect">Suite</span>
							</div>
						</div>
						<span class="ct--header__line t t--dy t--sy t--header"></span>
						<span class="ct--header__cta ct--header__cta--1 ">
							<span class="ct--header__cta__label t t--dy t--header">
								<span class="t--mask"><img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span>
							</span>
							<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
						</span>
						<div class="ct--header__background r r--16-9" >
				<video style="opacity: 1" class="media" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509484374/main_1_q6rrci.jpg" loop="loop" muted="muted">
								<source src="/static/them.mp4" type="video/mp4">
							</video>
						</div>
					</div>
					<div class="container">
						<div class="content m4 c6">
							<p style="text-align: justify;">
							Technex, the annual techno-management fest of Indian Institute of Technology (BHU), Varanasi is up with its 2k18 edition! The enthralling three days of the event will be jam-packed with a plethora of exercises. ‘Think talks’, as the name suggests, will intrigue the intellect with talks from people hailing from different spheres of life. For the eccentrics and innovators, the ’Start-Up Fair’ will let one manoeuvre through the corporate world and bring up visionary changes. Moreover, the ‘Corporate Conclave’ gives all the business enthusiasts, the chance to interact with executives point-blank and be a spectator of how the real-world functions. To complement all of this, Technex will host a range of events to challenge and soothe the temperament of a technocrat. Mark the calendars for an enriching retreat as Technex propounds its theme ‘Innovation is Contagious'.
							</p>
						</div>
					</div>
					<span class="ct--header__cta ct--header__cta--2">
						<span class="ct--header__cta__label t t--dy t--header">
							<span class="t--mask">Next</span>
						</span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>
					<div class="mask">
						<span class="mask__item c6"></span>
						<div class="container">
							<span class="mask__item c4"></span>
							<span class="mask__item c6"></span>
							<span class="mask__item c4"></span>
						</div>
						<span class="mask__item c6"></span>
					</div>
				</header>
				<div class="container container--full">
					<section class="home__part" data-part="events">
						<section class="home__block animated m4 c6 image ">
							<div class="flex">

								<div class="media">																<a href="\events">														<div class="wrapper">

										<span class="overlay"></span>


										<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508854090/events_1_ndmlaz.jpg" alt="">

									</div>
									</a>


								</div>

							<div class="content">
								<span class="part">
									EVENTS
								</span>
								<p>
									Over 50+ events in 8 diverse categories to participate!
								</p>
							</div>
							</div>
						</section>
					</section>
					<section class="home__part" data-part="workshops">
						<section class="home__block animated m4 c6 image left">
							<div class="flex">
								<div class="media">
									<div class="wrapper">
										<span class="overlay"></span>
										<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508854089/w-s_mpvedv.jpg" alt="">
									</div>
								</div>
								<div class="content">
									<span class="part">
										WORKSHOPS
									</span>
									<p>
										Professional certified workshops on upcoming technologies like IOT, Augmented Reality!
									</p>
								</div>
							</div>
						</section>
					</section>
			<section class="home__part" data-part="talks">
					<section class="home__block animated m4 c6 image ">
						<div class="flex">
							<div class="media">
						<div class="wrapper">
									<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508854087/tt_upxxgs.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									THINK TALKS
								</span>
								<p>
									Lectures and interactive sessions with various stalwarts and inspirational personalities from all around the world!
								</p>
							</div>
						</div>
					</section>




					</section>


			<section class="home__part" data-part="exhibitions">
					<section class="home__block animated m4 c6 image left">
						<div class="flex">
							<div class="media">
						<div class="wrapper">
								<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508854088/exhibit_bqykfm.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									EXHIBITIONS
								</span>
								<p>
									Attend exhibitions hosted by various NGOs,govt institutes like DRDO,International robotics comapanies and many more etc.
								</p>
							</div>
						</div>
					</section>
					</section>
					<section class="home__part" data-part="startupfair">
					<section class="home__block animated m4 c6 image ">
						<div class="flex">
							<div class="media">
							<div class="wrapper">
									<span class="overlay"></span>									<img src="/static/admin2/img/startup.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									STARTUP FAIR
								</span>
								<p>
									Platform for upcoming startups to showcase their innovation and potential to big corporate and possible mentors!
								</p>
							</div>
						</div>
					</section>
</section>
			<section class="home__part" data-part="initiatives">
					<section class="home__block animated m4 c6 image left">
						<div class="flex">
							<div class="media">																															<div class="wrapper">
									<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509265259/rsz_1social_kt2fff.jpg" alt="initiatives">
								</div>
							</div>
							<div class="content">
								<span class="part">
									INITIATIVES
								</span>
								<p>
									Campaigns on social and environmental issues under the patronage of UNEP and Government of India.
								</p>
							</div>
						</div>
					</section>
					</section>
					<section class="home__part" data-part="sponsors">
		<section class="home__block animated m4 c6 image ">
						<div class="flex">
							<div class="media">
							<div class="wrapper">
									<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508872242/airshow_1_jdorc8.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									AIRSHOW
								</span>
								<p>
									The experience of ballet and battles with rolling and twisting planes ruling the skies.
								</p>
							</div>
						</div>
					</section>
	</section>
			<section class="home__part" data-part="simulation">



					<section class="home__block animated m4 c6 image left">
						<div class="flex">
							<div class="media">
						<div class="wrapper">
									<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509263931/simulations_jsn1xl.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									SIMULATION
								</span>
								<p>
									Test and hone your grip in imitating the operation of a real-world process, while simulating on industrial scale supercomputing architectures on the cloud.
								</p>
							</div>
						</div>
					</section>


					</section>


			<section class="home__part" data-part="pronites">



					<section class="home__block animated m4 c6 image ">
						<div class="flex">
							<div class="media">
							<div class="wrapper">
									<span class="overlay"></span>									<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508854088/kaleido_c5o5ds.jpg" alt="">
								</div>
							</div>
							<div class="content">
								<span class="part">
									PRONITES
								</span>
								<p>
									Witness live performances of musicians and renowned artists, concerts etc in fun filled pronites.
								</p>
							</div>
						</div>
					</section>
			</section>

	</div>

		<div class="ct--master ct--related-pages c14">
			<h2 style="transform:translate3d(0px, 150px, 0px);margin: 0 auto;display: table;width: auto;" class="h1 m1 c10">
		Be a part of Technex '18
		</h2>

		<div  class="ct--related-pages__item" >
							<img src="/static/register-back.jpg" alt="" class="cover" />

						<a href="#" class="c5 m7" style="padding-left: 0px;" onclick="
	var modalTinyNoFooter = new tingle.modal();
    modalTinyNoFooter.setContent('<h2>Registration will be live soon!!</h2>');
        modalTinyNoFooter.open();
    ">
				<button style="transform:translate3d(-55px, 0, 0px)" id="register-btn-link" class="btn btn--rect btn--rect--center js-validate-contact">
                <span  class="btn__content">
            <span class="btn__content-label">Register</span>
                            <span class="btn__content-layer" data-content="Register"></span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
			</a>
		</div>

	</div>
	<script type="text/javascript">


	</script>



    						<footer class="footer">

	<div class="container container--full">
<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

                    <li>
                <a href="/contacts">
                   <strong> Contacts</strong>
                </a>
            </li>
                    <li>
                <a href="/sponsors">
                    <strong>Sponsors</strong>
                </a>
            </li>

                </ul>

        <ul class="footer__socials" style="z-index: -900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Follow us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Follow us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Follow us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Follow us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>

		<!--<div class="line-wrapper">
						<span class="container"><i class="line m4"></i></span>
					</div>
					<div class="line-wrapper line-wrapper--center">
						<span class="container"><i class="line m7"></i></span>
					</div>
					<div class="line-wrapper">
						<span class="container"><i class="line m10"></i></span>
					</div>-->



									</div>


	    <div class="home__nav">
	<div  class="container">
		<span class="current-part"></span>
		<ul class="list-parts">
							<li class="part-label">
					<span class="mask">
						EVENTS
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						WORKSHOPS
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						TALKS
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						EXHIBITIONS
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						STARTUP FAIR
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						INITIATIVES
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						AIRSHOW
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						SIMULATION
					</span>
				</li>
							<li class="part-label">
					<span class="mask">
						PRONITES
					</span>
				</li>
					</ul>
	</div>



<!-- 	<div class="home__nav__parts-container">
							<ul>

														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
							<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
							<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
					<ul>
														<li>2</li>
														<li>2</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
														<li>1</li>
							</ul>
			</div> -->


</div>


			</div>
		</section>

		<div class="mask mask--page">
							<span class="mask__item c6"></span>

				<div class="container">
					<span class="mask__item c4"></span>
					<span class="mask__item c6"></span>
					<span class="mask__item c4"></span>
				</div>

				<span class="mask__item c6"></span>
					</div>
					<script type='text/javascript' src="/static/new/new.js"></script>
			</body>
</html>
