<nav class="nav" role="navigation">
	<div class="container container--full">
		<ul class="menu">
			<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
			<li class="menu__item " data-href="/events/">
				<a class="" href="/events/">EVENTS</a>
			</li>
			<li class="menu__item " data-href="/talks/">
				<a class="" href="/talks/">THINK TALKS</a>
			</li>
			<li class="menu__item " data-href="/exhibitions/">
				<a class="" href="/exhibitions/">EXHIBITIONS</a>
			</li>
			<li class="menu__item " data-href="/startupfair/">
				<a class="" href="/startupfair/">STARTUP FAIR</a>
			</li>
			<li class="menu__item " data-href="/simulation/">
				<a class="" href="/simulation/">SIMULATION</a>
			</li>
			<li class="menu__item " data-href="/conclave/">
				<a class="" href="/conclave/">CORPORATE CONCLAVE</a>
			</li>
			<li class="menu__item " data-href="/initiative/">
				<a class="" href="/initiative/">INITIATIVE</a>
			</li>
			<li class="menu__item " data-href="/workshops/">
				<a class="" href="/workshops/">WORKSHOPS</a>
			</li>
			<li class="menu__item " data-href="/campusambassador">
				<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
			</li>
									<li class="menu__item " data-href="/contacts/">
				<a class="" href="/contacts/">CONTACTS</a>
			</li>
			<li class="menu__item " data-href="/sponsors/">
				<a class="" href="/sponsors/">SPONSORS</a>
			</li>
			<li class="menu__item" data-href="/campusambassador/">
				{% if user.is_authenticated %}
					<a class="" target="_blank" href="/dashboard/">
						Dashboard
					</a>
				{% else %}
					<a class="" target="_blank" href="/register/">
						Register/Login
					</a>
			  	{% endif %}
	  		
	  		</li>
		</ul>
	</div>
</nav>