<nav class="nav" role="navigation">
	<div class="container container--full" style="margin-left:-40px;">
		<ul class="menu">
			<li class="menu__item" data-href="/events/">
				<a class="" href="/events/">Events</a>
			</li>
			<li class="menu__item" data-href="/talks/">
				<a class="" href="/talks/">Think Talks</a>
			</li>
			<li class="menu__item" data-href="/workshops/">
				<a class="" href="/workshops/">Workshops</a>
			</li>
			<li class="menu__item" data-href="/simulation/">
				<a class="" href="/simulation/">Simulation Challenge</a>
			</li>
			<li class="menu__item" data-href="/startupfair/" style="margin-top:-15px;">
				<a class="" href="/"><img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;"></a>
			</li>
			<li class="menu__item" data-href="/startupfair/">
				<a class="" href="/startupfair/">Startup Fair</a>
			</li>
			<li class="menu__item" data-href="/exhibitions/">
				<a class="" href="/exhibitions/">Exhibitions</a>
			</li>
			<li class="menu__item" data-href="/sponsors/">
				<a class="" href="/sponsors/">Sponsors</a>
			</li>
			<!--<li class="menu__item" data-href="/campusambassador/">
				<a class="" target="_blank" href="http://ca.technex.in">Campus Ambassador</a>
			</li>-->
			<li class="menu__item" data-href="/campusambassador/">
					{% if user.is_authenticated %}
						<a class="" target="_blank" href="/dashboard/">
							Dashboard
						</a>
					{% else %}
						<a class="" target="_blank" href="/register/">
							Register/Login
						</a>
				  	{% endif %}
		  		
		  	</li>
		</ul>
	</div>
</nav>