<!DOCTYPE html>
{% load humanize %}
<html>
<head>
	<title>Payment Summary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  	<h2>Payment Summary</h2>
	<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
		<thead>
	      	<tr>
		        <th>Ticket Names</th>
		        <th>Total Ticket Price</th>
	      	</tr>
	</thead>
	<tbody id="tbody">
		{% for key, value in paysum.items %}
		{% if key == "test" %}
		{% else %}
		<tr>
			<td>{{key}}</td>
			<td>{{value|intcomma}}</td>
		</tr>
		{% endif %}
		{% endfor %}	
		<tr>
	        <th>Total</th>
	        <th>{{total|intcomma}}</th>
	    </tr>
	</tbody>
	</table>


</body>
</html>