	<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Simulation | technex'18</title>

			<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="description" content="Witness the oldest techno-management festival from 24th - 26th February. Prizes worth 2 million.">
      <meta name="keywords" content="technex, technex17, technex 17, technex 2017, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2017, 2k17, 17, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
      <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
	</head>
	<body class="device-mobile loading" >
		
		<header id="nav-header" class="">
			<img src="/static/history/img/logo_white.png" class="logo"/>
		<nav class="nav" role="navigation">
		
		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events">
					<a class="" href="/events">EVENTS</a>
				</li>
				<li class="menu__item " data-href="/talks">
					<a class="" href="/talks">THINK TALKS</a>
				</li>
				<li class="menu__item " data-href="/sponsors">
					<a class="nosamepage" href="/sponsors">SPONSORS</a>
				</li>
				<li class="menu__item " data-href="/kaliedoscope">
					<a class="" href="/kaliedoscope">KALEIDOSCOPE</a>
				</li>
				<li class="menu__item " data-href="/startupfair">
					<a class="" href="/startupfair">STARTUP FAIR</a>
				</li>
				<li class="menu__item " data-href="/contacts">
					<a class="" href="/contacts">CONTACTS</a>
				</li>
				<li class="menu__item " data-href="/hospitality">
					<a class="" href="/hospitality">HOSPITALITY</a>
				</li>
				<li class="menu__item " data-href="/ca">
					<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
				</li>	
		</ul>
	</div>
</nav>

<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>

<section id="container" role="main">
<div id="home" class="home">
<div class="scrollable">
<header class="ct--header ct--header--left  ">
<div class="wrapper fs">
<div class="ct--header__content c8">
<!-- <span class="h4 t t--dy t--header"><span class="t--mask">TECHNEX'18</span></span> -->
<h1 class="h3 t t--dy t--header">
<span class="t--mask">
	SIMULATION
</span>
</h1>
</div>
<span class="ct--header__cta ct--header__cta--1 ">
<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Scroll</span></span>
<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
</span>

		<div class="ct--header__background r r--16-9" style="background-image:url( http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508856430/simulation_h6hp3h.jpg )">
																		<img class="media media--hide" src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508856430/simulation_h6hp3h.jpg" alt="">
														</div>
	</div>

			<div class="container">
			<div class="content m4 c6">
				<p style="text-align:justify">Technex'18 is organizing a Simulation event on the  Supercomputing Infrastructure and Scientific Simulation Software on Cloud Computing platform.The platform would be provided by KOGENCE. It is an opportunity to hone your skills and know your abilities in imitating the operations of real-world processes.Webinars and online tutorials will be conducted for the benefit of participants, training them in using the platform and gearing them up for the challenge.</p>

			</div>
		</div>
		
			
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

    	
			
				<section class="master__section quote container ">
			<div class="ct--master ct--quote">
				<div class="quote-content m3 c8">
			The event is categorized under 3 topics:
		</div>
	</div>		</section>
				<section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508961831/banner-small-canadas-ai-challenge_402x_mzlkrs.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
		<u><b>	<p style="text-align:justify">KOGENCE ARTIFICIAL INTELLIGENCE SIMULATION:</b></u> It includes simulations on Tensor-Flow, Keras, Torch and Scikit-Learn libraries. Artificial Intelligence (AI)  is the field of computer science that attempts to construct computer systems that emulate human problem-solving behavior with the goal of understanding human intelligence. </p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509049840/1-1UP-mTfEHAqeXka3n6W6VA_1_wkljqr.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
			<u><b><p style="text-align:justify">KOGENCE META MATERIAL SIMULATIONS:</u></b> It includes simulations on Density Functional Theory Codes, Hartree Fock Methods, Multi Body Quantum Chemistry Codes and Molecular Dynamics.
The Material Simulation covers properties, structure, and behavior of all classes of materials which include electronic structure/properties of materials determined by ab initio and/or semi-empirical methods, atomic level properties of materials, microstructural level phenomena, continuum-level modelling pertaining to material behaviour, and modelling behaviour in service.</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508961831/5-scientistsha_kiv21h.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
			<u><b><p style="text-align:justify">KOGENCE NANO PHOTONICS SIMULATION:</u></b> It includes simulations on Scattering Matrix Method, Finite Difference Time Domain Methods, Rigorous Coupled Wave Analysis and Frequency Domain Methods. It covers identifying physical problems in nanophotonic that represent challenges for modeling and numerical simulation. Designing and simulation of current and next-generation optical communication systems and photonic integrated circuits at the signal propagation level are also under its domain.</p>

		</div>
	</div>

</div>		</section>

		<section class="master__section key-figures container first">
		<div class="ct--master ct--key-figures ct--key-figures--top">
	            <ul class="c9  m4 "  style="background-image:url('http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508856430/simulation_h6hp3h.jpg')" >
                        <li class="c4">
                <span>
                    <u>23rd October</u>
                </span>
                <span>
                    Opening of Platform registration
                </span>
            </li>
                    <li class="c4">
                <span>
                   <u> 1st November</u>
                </span>
                <span>
                    Opening of Challenge registration
                </span>
            </li>
                    <li class="c4">
                <span>
                    <u>15th November</u>
                </span>
                <span>
                    Webinar
                </span>
            </li>
                    <li class="c4">
                <span>
                    <u>15th December</u>
                </span>
                <span>
                    Release of Problem Statement 
                </span>
            </li>
            </ul>
</div>
	</section>
	<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
				<ol><li>	Webinars and online tutorials will be conducted for the benefit of participants, training them is using the platform and gearing them up for the challenge. Important dates associated with the events are as above.</li>
					<li>The competition will witness participation from institutes all over the world and there is no restriction on the number of participants. It is big opportunity to revamp and hone your grip in simulations and compete at an international platform to showcase a plethora of innovative ideas.</li>
</ol>
			</div>
</div>
		<!--</section>

	<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
					<p>The competition will witness participation from institutes all over the world and there is no restriction on the number of participants. It is big opportunity to revamp and hone your grip in simulations and compete at an international platform to showcase a plethora of innovative ideas.</p>

			</div>
</div>
		</section>-->

				
<footer class="footer">
	<div class="container container--full">
		<!--<ul class="footer__links">
                                       <li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>
                </ul>-->
        <ul class="footer__socials">
            <li>             
              <i style="font-size:20px" class="fa fa-facebook fa-2x"><a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">Facebook</a></i>
            </li>
                                <li> <i style="font-size:20px" class="fa fa-twitter fa-2x">
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter
                </a></i>
            </li>
                                <li> <i style="font-size:20px" class="fa fa-instagram fa-2x">
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram
                </a></i>
            </li>
                                <li> <i style="font-size:20px" class="fa fa-youtube fa-2x">
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube
                </a></i>
            </li>
                </ul>
	</div>
</footer>

			

									</div>
						<span class="ct--close btn btn--close">
		<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
</span>			</div>
		</section>

		<div class="mask mask--page">
							<div class="loader"></div>
					</div>

	
					<script type='text/javascript' src='/static/history/js/main-mobile.js'></script>
			</body>
</html>