	<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Simulation | Technex</title>

				<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="description" content="Witness the oldest techno-management festival from 16th - 18th February. Prizes worth 2 million.">
	    <meta name="keywords" content="technex, technex18, technex 18, technex 2018, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main.css" type='text/css' media='all' />
	</head>
	<body class="device-desktop   " >
		<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">
			</a>
			<nav class="nav" role="navigation">
				<div class="container container--full">
					<ul class="menu">
						<li class="menu__item " data-href="/events">
							<a class="" href="/events">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks">
							<a class="" href="/talks">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/exhibition">
							<a class="" href="/exhibition">EXHIBITIONS</a>
						</li>
						<li class="menu__item " data-href="//startupfair">
							<a class="" href="/startupfair">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/simulation">
							<a class="" href="/simulation">SIMULATION</a>
						</li>
						<li class="menu__item " data-href="/conclave">
							<a class="" href="/conclave">CORPORATE CONCLAVE</a>
						</li>
						<li class="menu__item " data-href="/initiative">
							<a class="" href="/initiative">INITIATIVE</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
						</li>
					</ul>
			</div>
		</nav>
	</header>


		<section id="container" role="main">
			<div id="master" class="master">
				<div class="scrollable">
					
    


<header class="ct--header ct--header--center  fs">
	
	<div class="wrapper fs">
		<div class="ct--header__content c8">
							<span class="icon-wrapper"><span class="t t--dy t--alpha t--header"><svg class="i-header-wrap"><use xlink:href="#i-header"></use></svg></span></span>
			
							<span class="h4 t t--dy t--header"><span class="t--mask"></span></span>
			
			<h1 class="h1 t t--dy t--header">
				<span class="t--mask">
					SIMULATION
									</span>
			</h1>
			
						
							<div class="preloader">
					<span class="progress"><span class="bar"></span></span>
					<span class="btn btn--rect">Suite</span>
				</div>
			
			
			
		</div>

					<span class="ct--header__line t t--dy t--sy t--header"></span>
		
				
					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">scroll</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>
		

		<div class="ct--header__background r r--16-9" >
												<video class="media" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508856430/simulation_h6hp3h.jpg" loop="loop" muted="muted">
						
					</video>
									</div>
	</div>

			<div class="container">
			<div class="content m4 c6">
				<p style="text-align:justify">Technex'18 is organizing a Simulation event on the  Supercomputing Infrastructure and Scientific Simulation Software on Cloud Computing platform.The platform would be provided by KOGENCE. It is an opportunity to hone your skills and know your abilities in imitating the operations of real-world processes.Webinars and online tutorials will be conducted for the benefit of participants, training them in using the platform and gearing them up for the challenge.</p>

			</div>
		</div>
		
				<span class="ct--header__cta ct--header__cta--2">
			<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
			<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
		</span>
			
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

    	
		<section class="master__section quote container ">
			<div class="ct--master ct--quote">
				<div class="quote-content m3 c8">
			The event is categorized under 3 topics:
		</div>
	</div>		</section>
		<section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508961831/banner-small-canadas-ai-challenge_402x_mzlkrs.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
			<p style="text-align:justify"><u><b>KOGENCE ARTIFICIAL INTELLIGENCE SIMULATION:</b></u>It includes simulations on Tensor-Flow, Keras, Torch and Scikit-Learn libraries. Artificial Intelligence (AI)  is the field of computer science that attempts to construct computer systems that emulate human problem-solving behavior with the goal of understanding human intelligence. </p>
		</div>
	</div>

</div>		</section><section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509049840/1-1UP-mTfEHAqeXka3n6W6VA_1_wkljqr.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
			<p style="text-align:justify">KOG<u><b>ENCE META MATERIAL SIMULATIONS:</b></u> It includes simulations on Density Functional Theory Codes, Hartree Fock Methods, Multi Body Quantum Chemistry Codes and Molecular Dynamics.
The Material Simulation covers properties, structure, and behavior of all classes of materials which include electronic structure/properties of materials determined by ab initio and/or semi-empirical methods, atomic level properties of materials, microstructural level phenomena, continuum-level modelling pertaining to material behaviour, and modelling behaviour in service.</p>

		</div>
	</div>

</div>		</section>

<section class="master__section two-cols container ">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
					<div style="height: 200px; width: 280px;" class="picture">
				
				<img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508961831/5-scientistsha_kiv21h.jpg" alt="" />
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		<svg class="i-quote-wrap"><use xlink:href="#i-quote"></use></svg>
		<div class="content">
			<p style="text-align:justify"><u><b>KOGENCE NANO PHOTONICS SIMULATION:</b></u> It includes simulations on Scattering Matrix Method, Finite Difference Time Domain Methods, Rigorous Coupled Wave Analysis and Frequency Domain Methods. It covers identifying physical problems in nanophotonic that represent challenges for modeling and numerical simulation. </p>

		</div>
	</div>

</div>		</section>
<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
			     <ol><li>The competition will witness participation from institutes all over the world and there is no restriction on the number of participants. It is big opportunity to revamp and hone your grip in simulations and compete at an international platform to showcase a plethora of innovative ideas.</li>
					<li>Webinars and online tutorials will be conducted for the benefit of participants, training them is using the platform and gearing them up for the challenge. Important dates associated with the events are as follows:</li>
</ol>
			</div>
</div>
		</section>
		<section class="master__section key-figures container first">
		<div style="height:100%" class="ct--master ct--key-figures ct--key-figures--top">
	            <ul class="c12  m2 "  style="background-image:url('http://res.cloudinary.com/technex-iit-bhu/image/upload/v1508856430/simulation_h6hp3h.jpg')" >
                        <li class="c4">
                <span>
                    23rd October
                </span>
                <span>
                    Opening of Platform registration
                </span>
            </li>
                    <li class="c4">
                <span>
                    1st November
                </span>
                <span>
                    Opening of Challenge registration
                </span>
            </li>
                    <li class="c4">
                <span>
                    15th November
                </span>
                <span>
                    Webinar
                </span>
            </li>
                    <li class="c4">
                <span>
                    15th December
                </span>
                <span>
                    Release of Problem Statement
                </span>
            </li>
            </ul>
</div>
	</section>
	<!--<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
					<p>The competition will witness participation from institutes all over the world and there is no restriction on the number of participants. It is big opportunity to revamp and hone your grip in simulations and compete at an international platform to showcase a plethora of innovative ideas.</p>

			</div>
</div>
		</section>-->
		<a href="/register" class="nosamepage c5 m7" style="padding-left: 0px;">
				<button style="transform:translate3d(-55px, 0, 0px)" class="btn btn--rect btn--rect--center js-validate-contact">
                <span  class="btn__content">
            <span class="btn__content-label">Register</span>
                            <span class="btn__content-layer" data-content="Register"></span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
			</a>

				
							<footer class="footer">
	<div class="container container--full">

		<ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

                    <li>
                <a href="/contacts" >
                   <strong> CONTACTS</strong>
                </a>
            </li>
                    <li>
                <a href="/sponsor" >
                    <strong>SPONSORS</strong>
                </a>
            </li>
                   
                </ul>
                
        <ul class="footer__socials" style="z-index: 900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/> 
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>
					

									</div>
	</div>
		</section>

		<div class="mask mask--page">
							<span class="mask__item c6"></span>

				<div class="container">
					<span class="mask__item c4"></span>
					<span class="mask__item c6"></span>
					<span class="mask__item c4"></span>
				</div>
				
				<span class="mask__item c6"></span>
					</div>

					<script type='text/javascript' src='/static/new/new.js'></script>

		
					<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-79591056-1', 'auto');
				ga('send', 'pageview');
			</script>
			</body>
</html>

