	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Our Sponsors</title>

		<<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Witness the oldest techno-management festival from 16th - 18th February. Prizes worth 2 million.">
		<meta name="keywords" content="technex, technex18, technex 18, technex 2018, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
		<meta property="fb:app_id" content="461359507257085" />
		<meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
		<meta property="og:url" content="http://www.technex.in">
		<meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
			<meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		
		
		
		<link rel='stylesheet' id='stylesheet-css'  href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>
		
	</head>
	<body class="device-mobile   loading" >
		
		<header id="nav-header" class="">
			<img src="/static/history/img/logo_white.png" class="logo"/>
		<nav class="nav" role="navigation">
		
		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events/">
							<a class="" href="/events/">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks/">
							<a class="" href="/talks/">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/exhibition/">
							<a class="" href="/exhibition/">EXHIBITIONS</a>
						</li>
						<li class="menu__item " data-href="/startupfair/">
							<a class="" href="/startupfair/">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/simulation/">
							<a class="" href="/simulation/">SIMULATION</a>
						</li>
						<li class="menu__item " data-href="/conclave/">
							<a class="" href="/conclave/">CORPORATE CONCLAVE</a>
						</li>
						<li class="menu__item " data-href="/initiative/">
							<a class="" href="/initiative/">INITIATIVE</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
						</li>
						
												<li class="menu__item " data-href="/contacts/">
							<a class="" href="/contacts/">CONTACTS</a>
						</li>
						<li class="menu__item " data-href="/sponsors/">
							<a class="" href="/sponsors/">SPONSORS</a>
						</li>		
		</ul>
	</div>
</nav>
<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>



		

	


	

<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--left  fs">

				<div class="wrapper fs">
					<div class="ct--header__content c8" style="margin: 0;">



						<h1 class="h3 t t--dy t--header">
							<span class="t--mask" style="text-align: center;">
								
							</span>
						</h1>

						<div class="mask">
							<span class="mask__item c6"></span>

							<div class="container">
								<span class="mask__item c4"></span>
								<span class="mask__item c6"></span>
								<span class="mask__item c4"></span>
							</div>

							<span class="mask__item c6"></span>
						</div>

						



					</div>



					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" style="background-image:url(http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509350281/sponsors_hnw8mh.jpg)">
						<img class="media media--hide" src="" alt="">
					</div>
				</div>


				<div class="mask">
					<span class="mask__item c6"></span>

					<div class="container">
						<span class="mask__item c4"></span>
						<span class="mask__item c6"></span>
						<span class="mask__item c4"></span>
					</div>

					<span class="mask__item c6"></span>
				</div>

			</header>


			



			{% for data in response.data %}
					<section class="master__section logos-grid container ">
						<div class="ct--master ct--logos-grid c12 m1">
							<div>
							<h3 class="h3" style="text-align: center;">
								{{data.type}}
							</h3>
							</div>
							<ul style="text-align: center;">
							{% for spon in data.sponsors %}
								<li style="margin: auto;">
									<a class="r r--57-32" href="{{spon.websiteLink}}" target="_blank">
										<img style="max-height: 100px;
										max-width: 230px;" src="{{spon.imageLink}}" alt="">
									</a>
								</li>
								  {% endfor %}


							</ul>
						</div>
					</section>
   {% endfor %}

					<footer class="footer">
	<div class="container container--full">
       
	</div>
</footer>
					

				</div>
				
						</div>
			</section>

			

			
		<script type='text/javascript' src="/static/history/js/main-mobile.js"></script>
		<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-79591056-1', 'auto');
				ga('send', 'pageview');
			</script>

		

	</body>
	</html>
