	<!doctype html>
<html lang="en-US">
	<head>

		<title>Startup Fair | Technex '18</title>

				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		 <meta name="description" content="Startup Fair, biggest national convention for young entrepreneurs. The participants stand to win funding; scholarship from UP govt; incubation into MCIIE and Startup Village's Silicon Valley Program; and much more.">

		
		     <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2018 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      	<meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">

		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
		<!-- ADITIONAL LINK -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- <style>
.chandu-loader-overlay {
    width: 100%;
    height: 100%;
    background: url(/static/technex-loader-new.gif) center no-repeat gray;
    z-index: 99999;
    position: fixed;
    animation: small 1.25s alternate infinite ease-in-out;
}</style> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    jQuery(window).load(function(){
        jQuery(".chandu-loader-overlay").fadeOut(500);
    });
</script> -->
		
		
<!-- This site is optimized with the Yoast SEO plugin v5.0.1 - https://yoast.com/wordpress/plugins/seo/ -->

		<link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
		<script type="text/javascript" src='/static/tingle.js'></script>	

		<style type="text/css">

			
			.ct--master.ct--two-cols {
    			padding-top: 7%;
			}


					</style>


			</head>
	<body class="device-mobile   loading" >
		<div class="chandu-loader-overlay"></div>
		
		<header id="nav-header" class="">
			<img src="" class="logo"/>
		{% include 'navbarmobile.html' %}

<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>




		
	




		<section id="container" role="main">
			<div id="master" class="master">
				<div class="scrollable">
					
    

	
<header class="ct--header ct--header--left  ">
	
	<div class="wrapper fs">
		<div class="ct--header__content c8">
			
							<span class="h4 t t--dy t--header"><span class="t--mask"></span></span>
			
			<h1 class="h3 t t--dy t--header">
				<span class="t--mask" style="text-align: center;">
					STARTUP FAIR
									</span>
			</h1>
			
						
			
			
			
		</div>

		
				
					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>
		

		<div class="ct--header__background r r--16-9" style="background-image:url(http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024780/StartupFair_flex_423_sds3ex.jpg);">
	<img class="media media--hide" src=" http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024780/StartupFair_flex_423_sds3ex.jpg" alt="">
														</div>
	</div>

			<div class="container">
			<div class="content m4 c6">
			<h1 class="h1" style="text-align: center;">INTRODUCTION</h1>
				<p style="text-align: justify;">
Ambition is the steam that drives men forward on the road to success. Only the engine under full steam can make the grade.<br>Startup Fair is the most prominent national convention for young entrepreneurs organized by IIT (BHU) Varanasi in association with MCIIE. It features a plethora of events including guest lectures, elevator pitch, workshops, Networking Meet and panel discussions.</p>
			<!--	<p style="text-align: justify;"></p>  -->
			<h1 class="h1" style="text-align: center;
			">VISION</h1>
	<p style="text-align: justify;"><span style="font-size: medium;">Our goal is to give something to the Startup community by introducing emerging Startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data efficiently is a significant challenge and a tremendous area of opportunity for new business innovation.. </span></p>
				<p style="text-align: justify;">We offer you two category to participate in the event-<br />
1. Already established start-up’s from one year or so, with a set business model, well-defined revenue system and their product launched in the market. These teams will get an opportunity to get funded by the VC’s and investors present at the event.<br />
2. The newbies are entering into the world of Entrepreneurship. Those who may or may not have a product already built but an idea they think is the innovation of the new world.</p>

			</div>
		</div>
		
			
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

    	<section class="master__section key-figures container first">
		<div class="ct--master ct--key-figures ct--key-figures--top">
	            <ul class="c9  m4 "  style="background-image:url('http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509024780/StartupFair_flex_423_sds3ex.jpg')" >
                        <li class="c4">
                <strong>
                    10
                </strong>
                <span>
                    VCS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    200+
                </strong>
                <span>
                    STARTUPS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    20+
                </strong>
                <span>
                    MENTORS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    4000+
                </strong>
                <span>
                    FOOTFALL
                </span>
            </li>
            </ul>
</div>
	</section>

			<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
					<div class="content m4 c6">
		<h1 class="h3" style="text-align: center;">FREQUENTLY ASKED QUESTIONS</h1>
					<p><span style="font-size: medium;"><strong></strong></span></p>
<p><span style="font-size: medium;"></span></p><ol>
										<li><strong>1. Who is eligible to participate in Startup Fair?</strong><br> The contest is open to students, corporate professionals, entrepreneurs, as well as other independent individuals (employed or unemployed)</li>
										<li><strong> 2. Do all the team members have to be from the same University / Business School / Organization?</strong> <br> No. All the team members need not be from the same University / Business School / Organization.</li>
										<li><strong> 3. Can corporate participants from different companies form a Team? </strong> <br> Yes. Corporate professionals from different companies can form a team together.</li>
										<li><strong> 4. Can the team have a mix of Business school students/undergraduate students/corporate professionals/entrepreneurs/other individuals?</strong> <br>Yes, the team can have any mix of participants.</li>
										<li><strong> 5. Is the team composition mentioned at the time of registration final?</strong> <br>Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation</li>
										<li><strong> 6. What if a person gets registered as part of more than one team?</strong> <br>Both the teams will become ineligible to participate. Therefore, please check with the proposed team members before registering.</li>
										<li><strong> 7. What is the registration fee for participation?</strong> <br>2000 per participant (free Accomodation).</li>
										<li><strong> 8. Where will the final round of the event be held?</strong> <br>The Grand Finale will be held on the campus of Indian Institute of Technology, (BHU) Varanasi on 25th February and 26th February, 2017 during Technex 2017.</li>
										<li><strong> 9. Can we consult non-team members such as professors or industry experts?</strong> <br>The interaction with non-team members should be restricted to interviews and surveys, and proper reference should be made to the same in the business plan document. Similarly, any other information source including published studies may be used, but the document submitted should contain proper references.</li>
										<li><strong> 10. Should the business plans strictly adhere to a structure?</strong> <br>Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation</li>
									</ol><p></p>

			</div>
			</div>
</div>
		</section>

				<section class="master__section quote container ">
			<div class="ct--master ct--quote">
				<div class="ct--master ct--related-links">
		<!--	<h2 class="h1 m1 c10" style="font-size:16px;">
			REGISTER HERE FOR STARTUP FAIR 2018
		</h2>   -->
		<div class="links m4 c6">
														

    
    

 <!--   <a class="btn link btn--rect btn--rect--picto full" href="" title="Vulcain Turbine Pump Starter" target="_blank">
                    <span class="i-more-wrap"></span>
                <span class="btn__content">
            <span class="btn__content-label" style="">REGISTER</span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </a>    -->

			
			</div>
		</div>
</div>
<h3 class="h3" style="text-align: center;  padding: 0% 2%;">PREVIOUS YEAR MENTORS</h3>

			</section>   







	



<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="padding-top: 7%">

		<div class="col left m1 c2 illustrate">
			
					<div class="picture">
				<img src="/static/startupfair/img/img1/j1.jpg" alt="" style="width: 70% !important;
				height: auto !important;
				margin-left: 14%;">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content" style="margin-top: -25%;">
			<p style="text-align: center; font-size: 20px;">Rajiv Jamkhedkar</p>
			<p style="text-align: center;">SERENGETI VENTURES, Ex-AEGON RELICARE</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="padding-top: 7%">
		<div class="col left m1 c2 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j2.jpg" alt="" style="width: 70% !important;
				height: auto !important;
				margin-left: 14%;">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content" style="margin-top: -25%;">
			<p style="text-align: center; font-size: 20px;">G.S. Naveen Kumar</p>
			<p style="text-align: center;">SPECIAL SECERETARY, GOVT. OF UP</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="padding-top: 7%">
		<div class="col left m1 c2 illustrate">
	
					<div class="picture">
				<img src="/static/startupfair/img/img1/j3.jpg" style="width: 70% !important;
				height: auto !important;
				margin-left: 14%;" alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content" style="margin-top: -25%;">
				<p style="text-align: center; font-size: 20px;">Vinod Dham</p>
				<p style="text-align: center;">INDO-US VENTURES PARTNER 'FATHER OF PENTIUM'</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="padding-top: 7%">
		<div class="col left m1 c2 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j4.jpg" style="width: 70% !important;
				height: auto !important;
				margin-left: 14%;" alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content" style="margin-top: -25%;">
		<p style="text-align: center; font-size: 20px;">Prof PK Mishra</p>
		<p style="text-align: center;">SECERETARY, MCIIE IIT (BHU), VARANASI</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols" style="padding-top: 7%">
		<div class="col left m1 c2 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j5.jpg" style="width: 70% !important;
				height: auto !important;
				margin-left: 14%;" alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content" style="margin-top: -25%;">
		<p style="text-align: center; font-size: 20px;">Anil Joshi</p>
		<p style="text-align: center;">UNICORN INDIA VENTURES, EX-PRESIDENT MUMBAI ANGELS</p>

		</div>
	</div>

</div>		</section>



<!--******************* SPONSORS ****************************-->


				<section class="master__section logos-grid container ">
			<div class="ct--master ct--logos-grid c12 m2">
    		<h2 class="h3" style="text-align: center;">
			PREVIOUS YEAR SPONSORS
		</h2>
	
  			<div style="margin-top: -50px;">
			<ul style="background-image:url('') ; margin-bottom: ;">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%">
                    <img src="/static/startupfair/img/mp1.jpg" alt="" style="width:100%;">
                </a>
            
			 </ul> 
			 <ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/mp2.jpg" alt="" style="width:100%;height: 90%">
                </a>
            
			 </ul>  
			 <ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/mp3.jpg" alt="" style="width:100%; height:75%; margin:auto;">
                </a>
            
			 </ul>

			<ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/yourstoryLogo.png" alt="" style="width:100%;">
                </a>
            
			 </ul> 

			<ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/LogoAtnd.png" alt="" style="width:100%;">
                </a>
            
			 </ul> 
			</div>
								        		    
</div>
		</section>
	



	
	<section class="master__section key-figures container first">
	
		<div class=" ct--key-figures ct--key-figures--top">
		<h1 class="h1 container" style= "margin-left:20px; text-align: center;">CONTACTS</h1>
	     
				            <div class="ct--master ct--two-cols" style="margin-top: 35px;">
						
						
							
					<div class="col right c6 illustrate">
						
						<div class="content">
						
				            <p style="text-align: center; font-size: 24px;">Kratin Sanghvi</p>
				            <p style="text-align: center;">Organiser</p>
				            <p style="text-align: center;">kratina.sanghvi.met15@itbhu.ac.in</p>
				            <p style="text-align: center;">7080907409</p>
				           

						</div>
					</div>

				</div>

				<div class="ct--master ct--two-cols" style="margin-top: 35px;">
						
						
							
					<div class="col right c6 illustrate">
						
						<div class="content">
						
				          <p style="text-align: center; font-size: 24px;">Harish Charavarthi</p>
				          <p style="text-align: center;">Organiser</p>
				          <p style="text-align: center;">mharish.chakravarthi.chy15@itbhu.ac.in</p>
				          <p style="text-align: center;">9616467141</p>
				           

						</div>
					</div>

				</div>

				<div class="ct--master ct--two-cols" style="margin-top: 35px;">
						
						
							
					<div class="col right c6 illustrate">
						
						<div class="content">
						
				         <!--   <p style="text-align: center; font-size: 20px;">Rinish</p>
				            <p style="text-align: center;">Organiser</p>
				            <p style="text-align: center;">pvaidyular.reddy.chy15@itbhu.ac.in</p>
				            <p style="text-align: center;">9010305713</p>  -->

				            <p style="text-align: center; font-size: 24px;">Rinish</p>
				            <p style="text-align: center;">Organiser</p>
				            <p style="text-align: center;">pvaidyular.reddy.chy15@itbhu.ac.in</p>
				            <p style="text-align: center;">9010305713</p>
				           

						</div>
					</div>

				</div>
</div>
	</section>

		<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">
			
                                       <!--<li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>-->
                </ul>
        
	</div>
</footer>

									</div>
						<span class="ct--close btn btn--close">
		
</span>			</div>
		</section>

		<div class="mask mask--page">
							<div class="loader"></div>
					</div>

	
					<script type='text/javascript' src='/static/history/js/main-mobile.js'></script>
					<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109327246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109327246-1');
</script>

			</body>
</html>
