	<!doctype html>
    {% load staticfiles %}
    <html lang="en-US" prefix="og: http://ogp.me/ns#">
    <head>
       <title>Workshops | Technex '18</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="description" content="Professsional certified workshops by experts on modern technologies at IIT (BHU)" />
       <meta name="keywords" content="workshops, iit workshops, workshop in iit, iit bhu workshop, technex, technex 2017, technex 17, iit bhu, events, techfest, iot, android app, plc, scada, automation, data mining, 3D printing, digital marketing, bridge design, workshop IIT, workshop IIT BHU, workshop IIT Varanasi, workshop BHU" />
       <meta property="fb:app_id" content="461359507257085" />
       <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2018 | IIT (BHU), Varanasi">
       <meta property="og:url" content="http://www.technex.in">
       <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
       <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.jpg">
       <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
       <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
       <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
       <link rel="manifest" href="/static/favicon/manifest.json">
       <link rel="shortcut icon" href="/static/favicon/favicon.ico">
       <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
       <meta name="theme-color" content="#000000">
        <!-- <link rel="stylesheet" type="text/css" href="/static/workshop/css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="/static/workshop/css/style1.css" /> -->
            <link rel="stylesheet" href="/static/workshop/css/reset.css"> <!-- CSS reset -->
            <script src="/static/workshop/js/modernizr.js"></script>


            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel='stylesheet' id='stylesheet-css'  href='/static/history/css/main.css' type='text/css' media='all' />
            <link rel='stylesheet' href='/static/tingle.css' type='text/css' media='all'>
            <script type="text/javascript" src='/static/tingle.js'></script>
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68539305-2', 'auto');
  ga('send', 'pageview');

</script>


            <style>
            .para p{
                margin-top:15px;
            }


        </style>

		<!-- <style>
			.para {
				margin-top:15px;
			}


		</style> -->

        <style>
        .button9 {
            background-color: #87ceeb;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>



</head>
<body class="device-desktop   " >
 <header id="nav-header" class="shown" >
     <a class="logo" href="/" rel="nofollow">
         <!--	<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">-->
     </a>
     {% include 'navbar.html' %}
     <span class="search-toggle">
      <svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
  </span>
	<!--<div class="wrapper-toggle">
		<!--<span class="menu-toggle js-toggle">
			<!--<i class="burger"><svg class="i-menu-burger-wrap"><use xlink:href="#i-menu-burger"></use></svg></i>
             <span>MENU</span>-->
         </span>
     </div>

     <div class="nav-header__overlay"></div>
 </header>

 <section id="container" role="main">
     <div id="master" class="master">
        <div class="scrollable">




            <header class="ct--header ct--header--center  fs">

               <div class="wrapper fs">
                  <div class="ct--header__content c8">

                     <span class="t--mask"><div style="transform:translate3d( 400px, 200px, 0px)"><span style="font-weight:600;font-size:3rem;">For Quries Contact:</span><br><span style="font-weight:500;font-size: 2.2rem;"><br>+91-707-192-6411<br>+91-956-552-5959</span></div>

                         
                         <!-- <img src="/static/register-back.jpg" alt="" class="cover" /> -->

						<!-- <a href="/register"  class="nosamepage c5 m7" style="padding-left: 0px;" target="_blank">
				<button style="transform:translate3d(-155px, 250px, 0px)" id="register-btn-link" class="btn btn--rect btn--rect--center js-validate-contact">
                <span  class="btn__content">
            <span class="btn__content-label">Register</span>
                            <span class="btn__content-layer" data-content="Register"></span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
</a> -->
<!-- <img class="t t--dy t--header t--mask" style="display: initial;" src=""> -->

</span>

<div  style="margin:2px auto;" >
    		<!-- <h2 class="h1" style="text-align: center;">
			OUR PREVIOUS YEAR'S THINK TALKS
		</h2> -->

        <!-- <ul style=""> -->

            <!-- <li style="margin:auto;"> -->
                <!--  -->
            </div>
	<span class="h4 t t--dy t--header"><span class="t--mask"></span></span>

			<!-- <h1 class="h1 t t--dy t--header">
				<span class="t--mask">
					<div style="transform:translate3d( 155px, 100px, 0px)"><span style="font-weight:600;font-size:3rem;">CONTACT:</span><br><span style="font-weight:500;font-size: 2.2rem;">Raushan Kumar <br>+91-919-851-7176</span></div>
									</span>
                             </h1> -->


                             <div class="preloader">
                               <span class="progress"><span class="bar"></span></span>
                               <span class="btn btn--rect">Suite</span>
                           </div>



                       </div>

                       <span class="ct--header__line t t--dy t--sy t--header"></span>


                       <span class="ct--header__cta ct--header__cta--1 ">
                        <span class="ct--header__cta__label t t--dy t--header"><span class="t--mask"><img src="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1509275486/imageedit_5_7155531026_bscm8p.png" style="width:30px;height:30px;"/></span></span>
                        <span class="ct--header__cta__line t t--dy t--sy t--header"></span>
                    </span>


                    <div class="ct--header__background r r--16-9" >
                        <video style="opacity: .85;background-color:rgba(0,0,0,.6);background-blend-mode: multiply;" class="media" autoplay="autoplay" poster="http://res.cloudinary.com/technex-iit-bhu/image/upload/v1515513652/workshops_opzvl71_xmzcrn.jpg" loop="loop" muted="muted">

                        </video>
                    </div>
                </div>

                <div class="container">
                 <div class="content m4 c6">
                    <p style="text-align: justify;"> Technex hosts a multitude of workshops in association with major technical training institutions and organizations to promote skills of engineering, management and technology among students.

                        Surfing through core yet diverse domains of Artificial Intelligence, Bridge Design and e-Commerce, the workshops will also branch into developments in fields like Ethical Hacking, Voice Controlled Automation, Augmented Reality and Digital Marketing.

                    Prolific representatives of companies with high-credentials add the distinct value in the conduct of these workshops making them together, the most sought-after platform to provide two days of great interactive-learning experience and hours of hands-on training.</p>


                </div>
            </div> 

				<!-- <span class="ct--header__cta ct--header__cta--2">
			<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Next</span></span>
			<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
		</span>
   -->
   <div class="mask">
      <span class="mask__item c6"></span>

      <div class="container">
         <span class="mask__item c4"></span>
         <span class="mask__item c6"></span>
         <span class="mask__item c4"></span>
     </div>

     <span class="mask__item c6"></span>
 </div>

</header>

<section class="master__section logos-grid container " >
 <div class="ct--master ct--logos-grid c12 m" style="margin:2px auto;">
  <h2 class="h1" style="text-align: center;">
     OUR THIS YEAR'S WORKSHOPS
 </h2>

 <ul style="">
    {% for workshop in events %}
    <li style="margin:auto;">
        <a href="#" class="r r--57-32" id="workshopmain{{forloop.counter}}" onclick='
        var modalBigContent = new tingle.modal();
        modalBigContent.setContent(document.getElementById("workshop{{forloop.counter}}").innerHTML);
        modalBigContent.open();



        '>
        <div class="container1" >
            <img src="{{workshop.image}}" class="image"  style="width:130%; margin-left:-45px;" >
            <div class="middle">
                    <!--    <div class="middle">
                            <div class="text" style="text-align: center">{{member.number}}</div>
                            <div class="text" style="text-align: center; font-size: 13px;">{{member.email}}</div>-->
                        </div>
                    </div>

                </a>
                <p style="text-align: center;">{{workshop.event_name}}</p>
                <!-- <p style="text-align: center; font-size: 13px;">{{workshop.order}}</p> -->
            </li>
            <div class="tingle-demo" style="display: none;" id="workshop{{forloop.counter}}">
                <div id=""><div class="cd-panel from-right {{workshop.order}}">
     <!--    <header class="cd-panel-header" style="overflow:hidden;">
    <div style="width: 100%" class="header_head">
    <div style="text-align:center;">
            <u><h1>{{workshop.event_name}} </h1></u>
      </div>
      <div style="transform:translate3d(430px, 7px, 0px)">
      <a href="{{workshop.sponlink}}" target="_blank"> 
      <img src="{{workshop.sponimage}}"  />
      </a>
      </div>
    </div>
            
</header> -->
<header style="width: 100%; height: 80px;margin-bottom: 15px;">

   <div style="display: table;margin: 0 auto;width: 50%;height: inherit;float: left;">
      <a href="{{workshop.sponlink}}" target="_blank"> 
          <img src="{{workshop.sponimage}}"  />
      </a>
  </div>
  <div style="display: table;margin: 0 auto;width: 50%;height: inherit;float: left;">
      <a href="/dashboard/#/workshopreg/{{workshop.eventSlug}}"  class="c5 m7" style="padding: 0px;display:table;margin: 0 auto;float: right;" target="_blank">
        <button class="btn btn--rect btn--rect--center">
            <span  class="btn__content" style="width: 100%;color: black;">
                <span class="btn__content-label">Register</span>
                <span class="btn__content-layer" data-content="Register"></span>
            </span>
            <span class="btn__loading">
                <span class="btn__loading-container">
                    <span class="btn__loading-i btn__loading-i--first"></span>
                    <span class="btn__loading-i btn__loading-i--middle"></span>
                    <span class="btn__loading-i btn__loading-i--last"></span>
                    <div class="clear"></div>
                </span>
            </span>
        </button>
    </a>
</div>
    <!--     	<div style="display: table;margin: 0 auto;width: 33.33%;height: inherit;float: left;">
        		<a href="" class="c5 m7" style="padding: 0px;margin: 0 auto;float: right;display:table;">
				<button class="btn btn--rect btn--rect--center">
                <span  class="btn__content" style="width: 100%;color: black;">
            <span class="btn__content-label">₹ {{workshop.workshopFees}} per person</span>
                            <span class="btn__content-layer" data-content="₹ {{workshop.workshopFees}} per person"></span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
			</a>
       </div> -->
   </header>
     <!--    <hr>
        <hr> -->
        <header style="width: 100%; height: 80px;margin-top: 20px;margin-bottom: 20px;">
        	<!-- <div style="display: table;margin: 0 auto;width: 33.33%;height: inherit;float: left;">
        		<a href="/dashboard/#/workshopreg/{{workshop.register_link}}"  class="c5 m7" style="padding: 0px;display:table;margin: 0 auto;float: left;" target="_blank">
				<button class="btn btn--rect btn--rect--center">
                <span  class="btn__content" style="width: 100%;color: black;">
            <span class="btn__content-label">Register</span>
                            <span class="btn__content-layer" data-content="Register"></span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
			</a>
        	</div>
        	<div style="display: table;margin: 0 auto;width: 33.33%;height: inherit;float: left;">
        		<a href="{{workshop.sponlink}}" target="_blank"> 
      <img src="{{workshop.sponimage}}"  />
      </a>
  </div> -->
  <div style="display: table;margin: 0 auto;width: 50%;height: inherit;float: left;">
      <h1 style="font-size: 30px;text-align: center;text-transform: uppercase;font-weight: bold;">{{workshop.event_name}}</h1>
  </div>
  <div style="display: table;margin: 0 auto;width: 33.33%;height: inherit;float: right;">
      <a href="" class="c5 m7" style="padding: 0px;margin: 0 auto;float: right;display:table;">
        <button class="btn btn--rect btn--rect--center">
            <span  class="btn__content" style="width: 100%;color: black;">
                <span class="btn__content-label">₹ {{workshop.workshopFees}} per person</span>
                <span class="btn__content-layer" data-content="₹ {{workshop.workshopFees}} per person"></span>
            </span>
            <span class="btn__loading">
                <span class="btn__loading-container">
                    <span class="btn__loading-i btn__loading-i--first"></span>
                    <span class="btn__loading-i btn__loading-i--middle"></span>
                    <span class="btn__loading-i btn__loading-i--last"></span>
                    <div class="clear"></div>
                </span>
            </span>
        </button>
    </a>
</div>
</header>

     <!--    <hr>
        <hr> -->


        
        <!-- <h1 style="width: 100%;font-size: 30px;text-align: center;margin-top: 12px;margin-bottom: 20px;">{{workshop.event_name}}</h1> -->
        

        <!-- <a href="#0" class="cd-panel-close">Close</a> -->
        <div class="cd-panel-container">
            <div class="cd-panel-content" style="color: black;">
<!--             <div>
                <button><a class="button9" style="padding:6px;" href="/dashboard/#/workshopreg/{{workshop.register_link}}" target="_blank">REGISTER</a></button>
                </div>
            -->
            <!-- <div style="transform:translate3d(490px, 0px, 0px)"><span>COST: </span><span>₹{{workshop.workshopFees}}/ per person</span></div> -->

            <br>
            <div class="workshopDescription">
                {{workshop.event_content | safe}}
            </div>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div></div>
</div>

{% endfor %}
</ul>
</div>

</section>
<footer class="footer">
	<div class="container container--full">

     <ul style="transform:translate3d(0px, 12px, 0px)" class="footer__links">

        <li>
            <a href="/contacts/" >
             <strong> Contacts</strong>
         </a>
     </li>
     <li>
        <a href="http://ca.technex.in" target="_blank">
            <strong>Campus Ambassador</strong>
        </a>
    </li>
   

</ul>


<ul class="footer__socials" style="z-index: 900">
    <li>
        <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="follow us on Facebook">
            Facebook<img src="/static/admin2/img/fb.png" style="width:40px;height:40px;"/>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/technexiitbhu" target="_blank" title="follow us on Twitter">
            Twitter<img src="/static/admin2/img/twitter (1).png" style="width:40px;height:40px;"/>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="follow us on Instagram">
            Instagram<img src="/static/admin2/img/insta (1).png" style="width:40px;height:40px;"/>
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="follow us on Youtube">
            Youtube<img src="/static/admin2/img/youtube.png" style="width:40px;height:40px;"/>
        </a>
    </li>
</ul>
</div>
</footer>


									<!--<div class="line-wrapper">
						<span class="container"><i class="line m4"></i></span>
					</div>
					<div class="line-wrapper line-wrapper--center">
						<span class="container"><i class="line m7"></i></span>
					</div>
					<div class="line-wrapper">
						<span class="container"><i class="line m10"></i></span>
					</div>-->
               </div>
               <span class="ct--close btn btn--close">


               </span>			</div>
           </section>
           <div class="mask mask--page">
             <span class="mask__item c6"></span>

             <div class="container">
               <span class="mask__item c4"></span>
               <span class="mask__item c6"></span>
               <span class="mask__item c4"></span>
           </div>

           <span class="mask__item c6"></span>
       </div>
       <script type='text/javascript' src="/static/new/new.js"></script>
       <!-- Global site tag (gtag.js) - Google Analytics -->
      

  </body>
  </html>
